.blog-archive {
  .blog-archive-post {
    .p-image {
      img {
        display: block;
        width: 100%;
        height: auto;
        border-radius: 4px;
      }
      @include media-down(lg) {
        margin-bottom: 16px;
      }
    }
    .post-content {
      display: flex;
      flex-direction: column;
    }
    .p-status {
      font-size: 12px;
      line-height: 16px;
      color: #8491A3;
      font-weight: bold;
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 0px;
      .seperator {
        margin: 0px 11px;
      }
      .p-category {
        color: #8491A3;
        text-transform: uppercase;
        transition: $transition;
        &:hover {
          transition: $transition;
          text-decoration: none;
          color: #3E74E7;
        }
      }
    }
    .p-date {
      font-weight: bold;
      font-size: 12px;
      line-height: 16px;
      color: #8491A3;
      text-decoration: none;
      margin-bottom: 8px;
    }
    .p-title {
      font-weight: bold;
      font-size: 24px;
      line-height: 32px;
      color: #212B36;
      text-decoration: none;
      margin-bottom: 8px;
    }
    .p-text {
      font-size: 16px;
      line-height: 24px;
      color: #2E3B4D;
      text-decoration: none;
      margin-bottom: 8px;
    }
    .p-more-link {
      font-weight: bold;
      font-size: 14px;
      line-height: 20px;
      color: #2C5DE5;
      display: flex;
      align-items: center;
      text-decoration: none;
      position: relative;
      transition: $transition;
      align-self: flex-end;
      width: 100%;
      text-transform: uppercase;
      &:hover {
        transition: $transition;
        font-size: 17px;
      }
      position: relative;
      .i-svg {
        width: 12px;
        height: 10px;
        margin-bottom: 1px;
        margin-left: 6px;   
        transform: rotate(-90deg);
      }
    }
  }
  .archive-featured-posts-list {
    padding-bottom: 50px;
    @include media-down(lg) {
      padding-bottom: 0px;
    }
    &>.vc_row {
      padding-top: 0px;
    }
  }
  .featured-post {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    background: #F7F8FA;
    border-radius: 4px;
    overflow: hidden;
    .p-image {
      img {
        display: block;
        width: 100%;
        height: auto;
      }
    }
    .p-content {
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: space-between;
      padding: 16px;
      padding-bottom: 32px;
    }
    .p-fields {
      display: flex;
      flex-direction: column;
    }
    .p-date {
      font-weight: bold;
      font-size: 12px;
      line-height: 16px;
      color: #8491A3;
      text-decoration: none;
      margin-bottom: 8px;
    }
    .p-title {
      font-weight: bold;
      font-size: 20px;
      line-height: 28px;
      color: #212B36;
      text-decoration: none;
      margin-bottom: 8px;
    }
    .p-text {
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
      color: #2E3B4D;
      text-decoration: none;
      margin-bottom: 8px;
    }
    .p-more-link {
      font-weight: bold;
      font-size: 14px;
      line-height: 20px;
      color: #3E74E7;
      display: flex;
      align-items: center;
      text-decoration: none;
      margin-top: 6px;
      position: relative;
      transition: $transition;
      align-self: flex-end;
      width: 100%;
      text-transform: uppercase;
      &:hover {
        transition: $transition;
        font-size: 16px;
      }
      position: relative;
      .i-svg {
        width: 12px;
        height: 7px;
        margin-top: -1px;
        margin-left: 6px;  
        transform: rotate(-90deg);
      }
    }
  }
}
