.blog-post {
  .content .content-area {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    @include media-down(ct) {
      flex-direction: column;
      margin-top: 40px;
    }
    .blog-menu-container {
      margin-bottom: 75px;
      @include media-down(ct) {
        display: none;
      }
    }
    main {
      width: 800px;
      @include media-down(ct) {
        width: 100%;
      }
      .p-data {
        display: flex;
        margin-bottom: 40px;
        margin-top: 25px;
        @include media-down(ct) {
          flex-direction: column;
          align-items: center;
          margin-top: 15px;
        }
        .p-date {
          font-size: 18px;
          font-weight: 400;
          color: #3e74e7;
          @include media-down(ct) {
            font-size: 18px;
            line-height: 22px;
          }
        }
        .p-reading-time {
          font-size: 18px;
          font-weight: 400;
          color: #727e8e;
          margin-left: 22px;
          @include media-down(ct) {
            margin-left: 0px;
            font-size: 18px;
            line-height: 22px;
          }
        }
      }
      .p-main-image-container {
        position: relative;
        .p-fixed-sharing {
          position: absolute;
          left: -70px;
          @include media-down(ct) {
            display: none;
          }
          .p-fs-title {
            display: none;
            @include media-down(ct) {
              display: block;
              font-size: 20px;
              font-weight: 700;
              margin-bottom: 18px;
            }
          }
          .p-fs-links {
            @include media-down(ct) {
              display: flex;
            }
          }
          &.fixed {
            position: fixed;
            left: auto;
            top: 104px;
            visibility: visible;
            opacity: 1;
            transition: visibility 0s, opacity 0.2s linear;
          }
          &.hidden {
            visibility: hidden;
            opacity: 0;
            transition: visibility 0s, opacity 0.2s linear;
          }
          .social-share-link {
            margin: 0px;
            margin-bottom: 15px;
            @include media-down(ct) {
              margin: 0 15px;
            }
            &:last-child {
              margin-bottom: 0px;
            }
          }
        }
        .p-main-image {
          display: block;
          border-radius: 10px;
          width: 100%;
          height: auto;
        }
      }
      .text-content {
        margin-top: 35px;
      }
      .p-sharing-block {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 40px 0px;
        border-top: 1px solid #cad3de;
        margin-top: 60px;
        margin-bottom: 45px;
        @include media-down(ct) {
          flex-direction: column;
          position: relative;
          margin-top: 0px;
          width: 100vw;
          left: 50%;
          right: 50%;
          margin-left: -50vw;
          margin-right: -50vw;
          padding: 20px 0px;
          padding-top: 15px;
          border-bottom: 1px solid #cad3de;
          margin-top: 15px;
        }
        .p-s-title {
          font-family: 'latoheavy';
          font-size: 34px;
          line-height: 41px;
          @include media-down(ct) {
            display: block;
            font-size: 20px;
            font-weight: 700;
            margin-bottom: 18px;
            line-height: 24px;
            font-family: 'Lato', sans-serif;
          }
        }
        .p-s-links {
          display: flex;
          .social-share-link:last-child {
            @include media-down(ct) {
              margin-right: 15px;
            }
          }
        }
      }
    }
    .sidebar {
      width: 270px;
      @include media-down(ct)  {
        width: 100%;
      }
    }
  }
}

