.direct-connect-page {
  .product-description-block {
    border-top: 1px solid #cad3de;
    border-bottom: 1px solid #cad3de;
    .product-description-slider-block:last-child .p-slider-wrapper {
      border-bottom: 0px;
    }
  }
  .configure-solution-block {
    border-bottom: 1px solid #CAD3DE;
  }
}
