.single-toolkits {
  .breadcrumbs {
    margin-bottom: 8px;
  }
  .p-main-image {
    margin-bottom: 64px;
  }
  .p-file {
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    color: #8491A3;
    text-transform: uppercase;
    a {
      cursor: pointer;
      color: #8491A3;
      text-decoration: none;
      transition: $transition;
      &:hover {
        color: #3E74E7;
        text-decoration: none;
        transition: $transition;
      }
    }
  }
  .p-status {
    margin-bottom: 33px;
  }
  .text-content {
    margin-bottom: 300px;
    @include media-down(lg) {
      margin-bottom: 0px;
    }
  }
}

