.sitemap-page {
  padding: 40px 0px;
  .sitemap-list-container {
    ul {
      list-style-type: none;
      li {
        a {
          font-size: 18px;
          line-height: 24px;
          color: #727e8e;
          word-break: break-word;
          transition: $transition;
          text-decoration: none;
          &:hover {
            color: #3e74e7;
            transition: $transition;
          }
        }
      }
    }
    .dropdown {
      &>.drop-wrap {
        display: flex;
        align-items: center;
        a {
          color: #3e74e7;
          text-decoration: underline;
        }
      }
      &>ul {
        display: none;
      }
      &.init-open>ul {
        display: block;
      }
      &.opened {
         &>.drop-wrap {
          .dropdown-arrow {
            .i-svg {
              transform: rotate(0deg);
              transition: $transition;
            }
          }
        }
      }
      .dropdown-arrow {
        display: flex;
        align-items: center;
        width: 30px;
        height: 20px;
        cursor: pointer;
        padding-top: 3px;
        .i-svg {
          width: 13px;
          height: 8px;
          margin-left: 10px;
          transform: rotate(-90deg);
          color: #3e74e7;
          transition: $transition
        }
      }
    }
  }
}

