.brochures-flyers-archive {
  .alm-flex-row {
    padding-top: 0 !important;
  }
  .archive-post {
    margin: 32px 0px;
    .wpb_wrapper {
      height: 100%;
    }
    .post-content-wrapper {
      background-color: #F7F8FA;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
      padding-bottom: 32px;
      box-sizing: border-box;
      min-height: 470px;
      .p-image-link {
        background-color: #F7F8FA;
        padding: 32px 63px;
        img {
          box-shadow: 0px 16px 24px rgba(46, 59, 77, 0.16);
        }
      }
      .post-fields {
        padding: 0 16px;
        display: flex;
        flex-direction: column;
      }
      .p-image {
        margin-bottom: 14px;
      }
      .p-more-link {
        padding: 0 16px;
        box-sizing: border-box;
      }
      .p-title {
        font-weight: bold;
        font-size: 20px;
        line-height: 28px;
        margin-bottom: 8px;
      }
      .p-type {
        color: #8491A3;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 12px;
        line-height: 16px;
        margin-bottom: 8px;
        transition: $transition;
        &:hover {
          text-decoration: none;
          color: #3E74E7;
          transition: $transition;
        }
      }
    }
  }
}
