.front-page {
  .content {
    .container .vc_column-inner {
      padding: 0px; 
      .vc_column-inner {
        padding-left: 16px;
        padding-right: 16px;
      }
    }
  }
  .main-page-banner-block {
    &.video-banner {    
      .video-wrapper {
        &:after {
          content: '';
          width: 100%;
          background: rgba(40,46,55,.5);
          height: 100%;
          top: 0px;
          left: 0px;
          position: absolute;
        }
      }
    }
    .btn.dark-blue {
      @include media-down(ct) {
        background-color: white;
        color: #3E74E7;
      }
    }
  }
  .achievements {
    .content-area {
      @include media-down(sm) {
        margin-bottom: 0px;
      }
    }
  }
}
