.inventory-scanners-page {
  .configure-solution-block {
    border-bottom: 1px solid #CAD3DE;
  }
  .product-features-block {
    background-color: white;
    padding-bottom: 70px;
    @include media-down(sm) {
      padding-bottom: 20px;
    }
  }
  .configure-solution-block {
    .cs-image {
      order: 2;
      margin-right: 70px;
      @include media-down(ct) {
        margin-right: 0px;
      }
    }
  }
  .product-description-block .product-description-slider-block:last-child .p-slider-wrapper {
    border-bottom: 1px solid #cad3de;
  }
}