.invoice-processing-page {
  .achievements {
    @include media-down(ct) {
      background: #EEF4FA;
      padding-top: 78px;
      padding-bottom: 26px;
    }
    .achievements-list {
      margin-top: 72px;
      @include media-down(ct) {
        margin-top: 75px;
      }
      .achievement-wrapper {
        @include media-down(ct) {
          margin-bottom: 54px;
        }
      }
    }
  }
  .contact-person-block .content-area .c-p-data {
    width: 660px;
    @include media-down(ct) {
      width: 100%;
    }
  }
  .how-it-works-block .h-steps .h-step .h-s-text {
    @include media-down(ct) {
      box-sizing: content-box;
      max-width: 220px;
    }
  }
}

