.side-block-page.wpb-side-block-page.knowledge-center-page {
  .content__text {
    padding-bottom: 100px;
    @include media-down(lg) {
       padding-bottom: 0px;
    }
  }
}

.knowledge-center-page {
  .container.with-side-block-wrapper {
    @include media-down(lg) {
      margin-top: 48px;
    }
  }
}