.single-news {
  .container.with-side-block-wrapper {
    @include media-down(lg) {
      margin-top: 48px;
    }
  }
  .p-main-image {
    border-radius: 4px;
    overflow: hidden;
    display: block;
    width: 100%;
  }
  h1 {
    font-weight: bold;
    font-size: 32px;
    line-height: 40px;
    color: #212B36;
  }
  .p-status {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 16px;
    border-bottom: 1px solid #DCE0E5;
    margin-bottom: 64px;
    @include media-down(lg)  {
      flex-direction: column;
      align-items: baseline;
      margin-bottom: 32px;
    }
    .p-data {
      display: flex;
      @include media-down(lg)  {
        margin-bottom: 16px;
      }
      .p-date {
        font-weight: bold;
        font-size: 14px;
        line-height: 20px;
        color: #8491A3;
        margin-right: 15px;
      }
      .p-reading-time {
        font-size: 14px;
        line-height: 20px;
        color: #8491A3;
      }
    }
  }
  .p-s-links {
    display: flex;
  }
  .p-sharing {
    display: flex;
    align-items: center;
  }
  .p-s-title {
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 24px;
      color: #2E3B4D;
      margin-right: 16px;
      display: none;
      @include media-down(lg)  {
        display: block;
      }
    }
  .p-footer-sharing {
    display: flex;
    margin-top: 48px;
    padding: 16px 0px;
    border-bottom: 1px solid #DCE0E5;
    border-top: 1px solid #DCE0E5;
    align-items: center;
    .p-s-title {
      display: block;
    }
  }
  .p-form-placeholder {
    background: #F2F3F5;
    min-height: 800px;
    width: 100%;
    border-radius: 8px;
  }
  .related-posts-vertical {
    .p-title {
      font-size: 16px;
      line-height: 24px;
      font-weight: bold;
    }
  }
}

.post-social-share-link {
  color: #2E3B4D;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 8px;
  &:hover {
    .i-svg {
      transition: $transition;
      color: $dark_blue;
    }
  }
  &:last-child {
    margin-right: 0px;
  }
  .i-svg {
    transition: $transition;
  }
  .icon-mail {
    width: 16px;
    height: 16px;
  }
}