.post-type-archive-resources {  
  .side-block-content {
    .h1-logo {
      width: 42px;
      min-width: 42px;
      color: #9477FF;
      margin-right: 6px;
    }
  }
  .site-main {
    padding-top: 10px;
  }
    
  .resources-slider-block {
    width: 100%;
    left: auto;
    right: auto;
    margin-left: 0px;
    margin-right: 0px;
  }
  .ajax-load-more-wrap {
    .alm-btn-wrap {
      margin-top: 20px;
      border-color: #2E3B4D;
      height: 75px;
      .alm-load-more-btn {
        font-size: 16px;
        line-height: 24px;
      }
    }
  }
}

