.side-block-page {
  .with-side-block-wrapper {
    margin: 0 auto; 
    max-width: 1280px;
    @include media-down(lg) {
      width: 100%;
      margin: auto;
      height: auto;
      left: auto;
      right: auto;
    }
  }
  .side-block {
    padding-top: 60px;
    @include media-down(lg) {
      padding-top: 0px;
    }
  }
  .content__text {
    padding-top: 16px;
    @include media-down(lg) {
      padding-top: 0px;
    }
    &>.vc_row>.wpb_column>.vc_column-inner{
      padding-left: 328px !important;
      padding-right: 0px;
      @include media-down(lg) {
        padding-left: 0px !important;
        padding-right: 0px !important;
      }
    }
  }
  
  
  &.wpb-side-block-page {
    .page-breadcrumb {
      padding-left: 328px;
      padding-right: 0px;
      @include media-down(lg) {
        padding-left: 0px;
        padding-right: 0px;
      }
    }
    .content__text {
      padding-bottom: 232px;
      @include media-down(lg) {
         padding-bottom: 0px;
      }
    }
    .side-block-page-content-element-wrapper {
      .materials-slider-block {
        width: 100%;
        left: auto;
        right: auto;
        margin: 0px;
        margin-top: 40px;
        margin-bottom: 32px;
        @include media-down(lg) {
           margin-top: 32px;
        }
      }
    }
    
  }
  
  .side-block-page-content-element-wrapper {
    padding-left: 328px;
    padding-right: 0px;
    @include media-down(lg) {
      padding-left: 0px;
      padding-right: 0px;
    }
  }
}

