.trainings-page {
  .additional-reesources-block {
    @include media-down(sm) {
      border-bottom: 1px solid #cad3de;
      padding-bottom: 80px;
    }
    .a-resources .a-resource {
      padding: 0 30px;
      @include media-down(ct) {
        padding-right: 19px;
      }
      .ar-data {
        .ar-title {
          font-weight: bold;
        }
      }
    } 
  }
  .contact-person-block .content-area .c-p-data .c-p-name {
    margin-top: 70px;
    @include media-down(ct) {
      margin-top: 25px;
    }
  }
}

