.wpb-page {
  overflow: hidden;
  &>.vc_row>.wpb_column>.vc_column-inner {
    padding-left: 0!important;
    padding-right: 0!important;
    .vc_column-inner {
      margin: 0px;
    }
  }
  .breadcrumb-wrapper {
    margin-top: 32px;
    @include media-down(lg) {
      display: none;
    }
    .breadcrumbs {
      margin-bottom: 0px;
    }
  }
}

