// default styles
html {
  font-family: 'Lato', sans-serif;
	box-sizing: border-box;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-ms-overflow-style: scrollbar;
	-webkit-tap-highlight-color: transparent;
}

.line-title {
  font-weight: bold;
  margin: 0px;
  padding: 0px;
  font-size: 32px;
  line-height: 40px;
  color: #2E3B4D;
  position: relative;
  padding-left: 28px;
  min-height: 58px;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  flex-direction: column;
  .l-title {
    margin: 0px;
    padding: 0px;
    font-size: 32px;
    line-height: 40px;
    @include media-down(ct) {
      font-size: 38px;
      line-height: 46px;
    }
  }
  .l-subtitle {
    font-size: 16px;
    line-height: 24px;
    color: #2E3B4D;
    font-weight: 400;
    margin-bottom: 9px;
  }
  @include media-down(ct) {
    font-size: 38px;
    line-height: 46px;
    min-height: 0px;
    padding: 0px;
    padding-bottom: 20px;
    text-align: center;
    margin: 0 auto;
    width: auto;
    align-items: center;
  }
  &.double {
    min-height: 88px;
    @include media-down(ct) {
      padding-bottom: 0px;
      min-height: 0px;
      &:after{
        display: none;
      }
      .l-subtitle {
        position: relative;
        margin-top: 35px;
        &:before {
          content: '';
          position: absolute;
          width: 145px;
          height: 4px;
          top: -25px;
          left: calc(50% - 72.5px);
          background-color: $dark_blue;
        }
      }
      &.blue {
        .l-subtitle:before {
          background-color: $blue_hover;
        }
      }
      &.red {
        .l-subtitle:before {
          background-color: $red_hover;
        }
      }
      &.lilac {
        .l-subtitle:before {
          background-color: $lilac_hover;
        }
      }
      &.green {
        .l-subtitle:before {
          background-color: $green_hover;
        }
      }
      &.orange {
        .l-subtitle:before {
          background-color: $orange_hover;
        }
      }
      &.transparent {
        .l-subtitle:before {
          background-color: $transparent;
        }
      }
    }
    @include media-down(sm) {
      .l-subtitle {
        max-width: 320px;
      }
    }
  }
  &:after {
    content: '';
    position: absolute;
    width: 6px;
    height: 100%;
    background-color: $dark_blue;
    left: 0px;
    top: 0px;
    @include media-down(ct) {
      width: 145px;
      height: 4px;
      bottom: 0px;
      left: calc(50% - 72.5px);
      top: auto;
    }
  }
  &.blue {
    &:after {
      background-color: $blue_hover;
    }
  }
  &.red {
    &:after {
      background-color: $red_hover;
    }
  }
  &.lilac {
    &:after {
      background-color: $lilac_hover;
    }
  }
  &.green {
    &:after {
      background-color: $green_hover;
    }
  }
  &.orange {
    &:after {
      background-color: $orange_hover;
    }
  }
  &.transparent {
    &:after {
      background-color: $transparent;
    }
  }
  &.white {
     color: white;
     &:after {
      background-color: white;
    }
  }
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.slick-slide, .slick-slide *{ outline: none !important; }

#livechat-eye-catcher-img img {display: none!important;}

body.mobile-menu-open {
  overflow: hidden;
}

a.nolink {
 pointer-events:none;
}

a.only-mobile-link {
  pointer-events:none;
  @include media-down(ct) {
    pointer-events: auto;
  }
}

sup {
  font-size: 50%;
  line-height: 0px;
  display: inline-block;
}

body .slick-slider {
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}
body .slick-list.draggable {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

p {
  font-size: 16px;
  line-height: 24px;
  color: #2E3B4D;
  margin: 16px 0px;
}

h4, .h4 {
  font-weight: bold;
  font-size: 20px;
  line-height: 28px;
  color: #282E37;
}

.mce-styles-font-size-20 {
  font-size: 20px;
  line-height: 28px;
  @include media-down(sm) {
    br {
      display: none;
    }
  }
  p {
    font-size: 20px;
    line-height: 28px;
  }
}
.mce-styles-font-size-24 {
  font-size: 24px;
  line-height: 32px;
  @include media-down(sm) {
    br {
      display: none;
    }
  }
  p {
    font-size: 24px;
    line-height: 32px;
  }
}

.mce-styles-font-size-12 {
  font-size: 12px;
  line-height: 16px;
  @include media-down(sm) {
    br {
      display: none;
    }
  }
  p {
    font-size: 12px;
    line-height: 16px;
  }
}

.mce-styles-top-8 {
  margin-top: 8px;
  display: block;
}

a {
  text-decoration: none;
  color: #3E74E7;
  &:hover {
    text-decoration: underline;
    sup {
      text-decoration:none;
    }
  }
}

.bottom-background-image {
  background-position-y: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
}