@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Merriweather:300,300i,400,400i,700,700i,900,900i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:700&display=swap');

@font-face {
  font-family: 'latosemibold';
  src: url('../fonts/lato-semibold-webfont.eot');
  src: url('../fonts/lato-semibold-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/lato-semibold-webfont.woff2') format('woff2'),
       url('../fonts/lato-semibold-webfont.woff') format('woff'),
       url('../fonts/lato-semibold-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'latoheavy';
  src: url('../fonts/lato-heavy-webfont.eot');
  src: url('../fonts/lato-heavy-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/lato-heavy-webfont.woff2') format('woff2'),
       url('../fonts/lato-heavy-webfont.woff') format('woff'),
       url('../fonts/lato-heavy-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}