.vc_col-lg-1, .vc_col-lg-10, .vc_col-lg-11, .vc_col-lg-12, .vc_col-lg-2, .vc_col-lg-3, .vc_col-lg-4, .vc_col-lg-5, .vc_col-lg-6, .vc_col-lg-7, .vc_col-lg-8, .vc_col-lg-9, .vc_col-md-1, .vc_col-md-10, .vc_col-md-11, .vc_col-md-12, .vc_col-md-2, .vc_col-md-3, .vc_col-md-4, .vc_col-md-5, .vc_col-md-6, .vc_col-md-7, .vc_col-md-8, .vc_col-md-9, .vc_col-sm-1, .vc_col-sm-10, .vc_col-sm-11, .vc_col-sm-12, .vc_col-sm-2, .vc_col-sm-3, .vc_col-sm-4, .vc_col-sm-5, .vc_col-sm-6, .vc_col-sm-7, .vc_col-sm-8, .vc_col-sm-9, .vc_col-xs-1, .vc_col-xs-10, .vc_col-xs-11, .vc_col-xs-12, .vc_col-xs-2, .vc_col-xs-3, .vc_col-xs-4, .vc_col-xs-5, .vc_col-xs-6, .vc_col-xs-7, .vc_col-xs-8, .vc_col-xs-9 {
    padding-left: 16px;
    padding-right: 16px;
}
.container {
  .vc_column-inner {
    max-width: 1280px;
    margin: 0 auto;
  }
  .vc_column_container>.vc_column-inner {
    padding-left: 16px;
    padding-right: 16px;
  }
  .vc_row {
    margin-left: -16px;
    margin-right: -16px;
    @include media-down(ct) {
      margin-left: 0px;
      margin-right: 0px;
    }
  }
  .flex-row.vc_row, .alm-flex-row.vc_row>div {
    display: flex;
    flex-wrap: wrap;
    &:before {
      display: none;
    }
    &:after {
      display: none;
    }
    .alm-reveal {
      display: flex;
      flex-wrap: wrap;
    }
    .vc_column-inner {
      height: 100%;
    }
    .wpb_wrapper {
      height: 100%;
    }
  }
  .wpb-mobile-margin-top-64 {
    @include media-down(sm) {
      margin-top: 64px;
    }
  }
  .wpb-mobile-margin-top-32 {
    @include media-down(sm) {
      margin-top: 32px;
    }
  }
  .wpb-margin-top-64 {
      margin-top: 64px;
  }
  .wpb-margin-top-32 {
      margin-top: 32px;
  }
  .wpb-margin-top-16 {
      margin-top: 16px;
  }
  .wpb-margin-bottom-64 {
      margin-bottom: 64px !important;
  }
  .wpb-margin-bottom-32 {
      margin-bottom: 32px !important;
  }
  .wpb-margin-bottom-16 {
      margin-bottom: 16px !important;
  }
  .wpb-padding-top-64 {
      padding-top: 64px !important;
  }
  .wpb-padding-top-32 {
      padding-top: 32px !important;
  }
  .wpb-padding-top-16 {
      padding-top: 16px !important;
  }
  .wpb-padding-bottom-64 {
      padding-bottom: 64px !important;
  }
  .wpb-padding-bottom-32 {
      padding-bottom: 32px !important;
  }
  .wpb-padding-bottom-16 {
      padding-bottom: 16px !important;
  }
  .wpb-flex-align-center {
    display: flex;
    align-items: center;
    @include media-down(sm) {
      display: block;
    }
  }
  
  .wpb-paddign-top-0 {
    padding-top: 0px !important;
  }
  .wpb-mobile-paddign-top-0 {
    @include media-down(sm) {
      padding-top: 0px !important;
    }
  }
  .wpb-paddign-bottom-0 {
    padding-bottom: 0px !important;
  }
  
  .wpb-arrow-link {
    color: #3E74E7;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
    transition: $transition;
    &:hover {
      transition: $transition;
      font-size: 17px;
    }
    
    &:after {
      content: '';
      display: inline-block;
      width: 19px;
      height: 12px;
      margin-left: 8px;
      background-image: url("data:image/svg+xml,%3Csvg width='20' height='12' viewBox='0 0 20 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.59999 7.2C0.937252 7.2 0.399994 6.66274 0.399994 6C0.399994 5.33726 0.937252 4.8 1.59999 4.8L18.4 4.8C19.0627 4.8 19.6 5.33726 19.6 6C19.6 6.66274 19.0627 7.2 18.4 7.2L1.59999 7.2Z' fill='%233E74E7'/%3E%3Cpath d='M12.7515 9.95147C12.2828 10.4201 12.2828 11.1799 12.7515 11.6485C13.2201 12.1172 13.9799 12.1172 14.4485 11.6485L19.2485 6.84853C19.7171 6.3799 19.7171 5.6201 19.2485 5.15147L14.4485 0.351472C13.9799 -0.117156 13.2201 -0.117156 12.7515 0.351472C12.2828 0.820101 12.2828 1.5799 12.7515 2.04853L16.7029 6L12.7515 9.95147Z' fill='%233E74E7'/%3E%3C/svg%3E");
    }
  }
  
  .wpb-only-mobile {
    display: none;
    @include media-down(sm) {
      display: block;
    }
  }
  .wpb-only-desktop {
    @include media-down(sm) {
      display: none;
    }
  }
  
  .wpb-row-without-bottom {
    padding-bottom: 0px;
  }
  
  .wpb-row-border-top {
    &>.wpb_column > .vc_column-inner > .wpb_wrapper {
      border-top: 1px solid #DCE0E5;
    }
  }
  
  .wpb-icon-plus {
    &:before {
      content: '';
      width: 16px;
      height: 16px;
      margin-right: 16px;
      display: inline-block;
      background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 0.25C3.71875 0.25 0.25 3.71875 0.25 8C0.25 12.2812 3.71875 15.75 8 15.75C12.2812 15.75 15.75 12.2812 15.75 8C15.75 3.71875 12.2812 0.25 8 0.25ZM12.5 8.875C12.5 9.09375 12.3125 9.25 12.125 9.25H9.25V12.125C9.25 12.3438 9.0625 12.5 8.875 12.5H7.125C6.90625 12.5 6.75 12.3438 6.75 12.125V9.25H3.875C3.65625 9.25 3.5 9.09375 3.5 8.875V7.125C3.5 6.9375 3.65625 6.75 3.875 6.75H6.75V3.875C6.75 3.6875 6.90625 3.5 7.125 3.5H8.875C9.0625 3.5 9.25 3.6875 9.25 3.875V6.75H12.125C12.3125 6.75 12.5 6.9375 12.5 7.125V8.875Z' fill='%233E74E7'/%3E%3C/svg%3E%0A");
      position: relative;
      top: 2px;
    }
  }
  .wpb-icon-best {
    &:before {
      content: '';
      width: 18px;
      height: 16px;
      margin-right: 16px;
      display: inline-block;
      background-image: url("data:image/svg+xml,%3Csvg width='18' height='16' viewBox='0 0 18 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.09375 0.5625C8.21875 0.3125 8.375 0.15625 8.625 0.0625C8.875 0 9.09375 0 9.34375 0.0625C9.59375 0.15625 9.78125 0.3125 9.90625 0.5625L11.9375 4.6875L16.5 5.34375C16.75 5.40625 16.9688 5.53125 17.125 5.71875C17.2812 5.9375 17.3438 6.15625 17.3438 6.40625C17.3438 6.65625 17.25 6.875 17.0625 7.0625L13.75 10.2812L14.5312 14.8438C14.5625 15.0938 14.5 15.3438 14.375 15.5625C14.25 15.7812 14.0625 15.9062 13.8125 15.9688C13.5625 16.0312 13.3125 16 13.0938 15.875L9 13.75L4.90625 15.875C4.65625 16 4.4375 16.0312 4.1875 15.9688C3.9375 15.9062 3.71875 15.7812 3.59375 15.5625C3.46875 15.3438 3.40625 15.0938 3.46875 14.8438L4.25 10.2812L0.9375 7.0625C0.75 6.875 0.625 6.65625 0.625 6.40625C0.625 6.15625 0.6875 5.9375 0.84375 5.71875C1 5.53125 1.21875 5.40625 1.5 5.34375L6.0625 4.6875L8.09375 0.5625Z' fill='%233E74E7'/%3E%3C/svg%3E%0A");
      position: relative;
      top: 2px;
    }
  }
  .wpb-icon-tip {
    &:before {
      content: '';
      width: 20px;
      height: 16px;
      margin-right: 16px;
      display: inline-block;
      background-image: url("data:image/svg+xml,%3Csvg width='20' height='16' viewBox='0 0 20 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.5 14.1875V13H12.5V14.1875C12.5 14.3958 12.4479 14.5833 12.3438 14.75L11.8125 15.5625C11.6042 15.8542 11.3229 16 10.9688 16H9.03125C8.67708 16 8.40625 15.8542 8.21875 15.5625L7.65625 14.75C7.55208 14.5833 7.5 14.3958 7.5 14.1875ZM9.96875 0C11.5104 0 12.8125 0.541667 13.875 1.625C14.9583 2.6875 15.5 3.97917 15.5 5.5C15.5 6.08333 15.3646 6.72917 15.0938 7.4375C14.8229 8.125 14.5 8.6875 14.125 9.125C13.3542 10.0208 12.8125 10.9688 12.5 11.9688C12.5 11.9896 12.5 12 12.5 12H7.5C7.5 11.9792 7.5 11.9688 7.5 11.9688C7.1875 10.9688 6.64583 10.0208 5.875 9.125C5.5 8.6875 5.17708 8.125 4.90625 7.4375C4.63542 6.72917 4.5 6.08333 4.5 5.5C4.5 4.02083 5.02083 2.73958 6.0625 1.65625C7.10417 0.552083 8.40625 0 9.96875 0ZM10 3C10.1458 3 10.2604 2.95833 10.3438 2.875C10.4479 2.77083 10.5 2.64583 10.5 2.5C10.5 2.35417 10.4479 2.23958 10.3438 2.15625C10.2604 2.05208 10.1458 2 10 2C9.04167 2 8.21875 2.34375 7.53125 3.03125C6.84375 3.71875 6.5 4.54167 6.5 5.5C6.5 5.64583 6.54167 5.77083 6.625 5.875C6.72917 5.95833 6.85417 6 7 6C7.14583 6 7.26042 5.95833 7.34375 5.875C7.44792 5.77083 7.5 5.64583 7.5 5.5C7.5 4.8125 7.73958 4.22917 8.21875 3.75C8.71875 3.25 9.3125 3 10 3ZM3.28125 5.46875C3.42708 5.61458 3.5 5.79167 3.5 6C3.5 6.20833 3.42708 6.38542 3.28125 6.53125C3.13542 6.67708 2.95833 6.75 2.75 6.75H0.75C0.541667 6.75 0.364583 6.67708 0.21875 6.53125C0.0729167 6.38542 0 6.20833 0 6C0 5.79167 0.0729167 5.61458 0.21875 5.46875C0.364583 5.32292 0.541667 5.25 0.75 5.25H2.75C2.95833 5.25 3.13542 5.32292 3.28125 5.46875ZM19.25 5.25C19.4583 5.25 19.6354 5.32292 19.7812 5.46875C19.9271 5.61458 20 5.79167 20 6C20 6.20833 19.9271 6.38542 19.7812 6.53125C19.6354 6.67708 19.4583 6.75 19.25 6.75H17.25C17.0417 6.75 16.8646 6.67708 16.7188 6.53125C16.5729 6.38542 16.5 6.20833 16.5 6C16.5 5.79167 16.5729 5.61458 16.7188 5.46875C16.8646 5.32292 17.0417 5.25 17.25 5.25H19.25ZM4.09375 1.71875C4.34375 1.86458 4.46875 2.08333 4.46875 2.375C4.46875 2.58333 4.39583 2.76042 4.25 2.90625C4.10417 3.05208 3.92708 3.125 3.71875 3.125C3.59375 3.125 3.46875 3.09375 3.34375 3.03125L1.625 2.03125C1.35417 1.88542 1.21875 1.66667 1.21875 1.375C1.21875 1.16667 1.29167 0.989583 1.4375 0.84375C1.58333 0.697917 1.76042 0.625 1.96875 0.625C2.11458 0.625 2.25 0.65625 2.375 0.71875L4.09375 1.71875ZM18.375 9.96875C18.625 10.1146 18.75 10.3333 18.75 10.625C18.75 10.8333 18.6771 11.0104 18.5312 11.1562C18.3854 11.3021 18.2083 11.375 18 11.375C17.875 11.375 17.75 11.3438 17.625 11.2812L15.9062 10.2812C15.6562 10.1354 15.5312 9.91667 15.5312 9.625C15.5312 9.41667 15.6042 9.23958 15.75 9.09375C15.8958 8.94792 16.0729 8.875 16.2812 8.875C16.4062 8.875 16.5312 8.90625 16.6562 8.96875L18.375 9.96875ZM3.34375 8.96875C3.46875 8.90625 3.59375 8.875 3.71875 8.875C3.92708 8.875 4.10417 8.94792 4.25 9.09375C4.39583 9.23958 4.46875 9.41667 4.46875 9.625C4.46875 9.91667 4.34375 10.1354 4.09375 10.2812L2.375 11.2812C2.25 11.3438 2.11458 11.375 1.96875 11.375C1.76042 11.375 1.58333 11.3021 1.4375 11.1562C1.29167 11.0104 1.21875 10.8333 1.21875 10.625C1.21875 10.3333 1.35417 10.1146 1.625 9.96875L3.34375 8.96875ZM16.2812 3.125C16.0729 3.125 15.8958 3.05208 15.75 2.90625C15.6042 2.76042 15.5312 2.58333 15.5312 2.375C15.5312 2.08333 15.6562 1.86458 15.9062 1.71875L17.625 0.71875C17.75 0.65625 17.875 0.625 18 0.625C18.2083 0.625 18.3854 0.697917 18.5312 0.84375C18.6771 0.989583 18.75 1.16667 18.75 1.375C18.75 1.66667 18.625 1.88542 18.375 2.03125L16.6562 3.03125C16.5312 3.09375 16.4062 3.125 16.2812 3.125Z' fill='%233E74E7'/%3E%3C/svg%3E");
      position: relative;
      top: 2px;
    }
  }
  .wpb-icon-time {
    &:before {
      content: '';
      width: 16px;
      height: 16px;
      margin-right: 16px;
      display: inline-block;
      background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 0.25C3.71875 0.25 0.25 3.71875 0.25 8C0.25 12.2812 3.71875 15.75 8 15.75C12.2812 15.75 15.75 12.2812 15.75 8C15.75 3.71875 12.2812 0.25 8 0.25ZM10.875 10.0312L10.25 10.8125C10.1562 10.9375 10.0312 11.0312 9.84375 11.0312C9.75 11.0312 9.625 10.9688 9.5625 10.9062L7.46875 9.34375C7.15625 9.125 7 8.78125 7 8.375V3.5C7 3.25 7.21875 3 7.5 3H8.5C8.75 3 9 3.25 9 3.5V8L10.8125 9.34375C10.9062 9.4375 11 9.5625 11 9.71875C11 9.84375 10.9375 9.96875 10.875 10.0312Z' fill='%233E74E7'/%3E%3C/svg%3E%0A");
      position: relative;
      top: 2px;
    }
  }
  
  .wpb-left-line {
    padding: 32px;
    padding-left: 32px;
    position: relative;
    &:before {
      position: absolute;
      top: 0px;
      left: 0px;
      content: '';
      height: 100%;
      width: 6px;
      background-color: #3E74E7;
    }
  }
  .vc_row .vc_row {
    &.wpb-row-without-bottom {
      padding-bottom: 0px;
    }
  }
  
  .wpb_button, .wpb_content_element {
    margin-bottom: 32px;
    &:last-child {
      margin-bottom: 0px;
    }
  }
/*  #content .wpb_alert p:last-child, #content .wpb_text_column :last-child, #content .wpb_text_column p:last-child, .wpb_alert p:last-child, .wpb_text_column :last-child, .wpb_text_column p:last-child {
    margin: 0px;
  }*/
  .vc_col-has-fill>.vc_column-inner, .vc_row-has-fill+.vc_row-full-width+.vc_row>.vc_column_container>.vc_column-inner, .vc_row-has-fill+.vc_row>.vc_column_container>.vc_column-inner, .vc_row-has-fill>.vc_column_container>.vc_column-inner {
    padding-top: 0px;
  }
  
  .full-width-bg-block {
    width: 100vw;
    left: 50%;
    right: 50%;
    margin: 32px 0px;
    margin-left: -50vw!important;
    margin-right: -50vw!important;
    position: relative;
  }

}

.content {
  .vc_row {
    
    p {
      margin: 0px;
      margin-bottom: 16px;
    }
    
    .vc_row {
      padding: 32px 0px;
      font-size: 16px;
      line-height: 24px;
      color: #2E3B4D;
      
      h1,h2,h3,h4,h5 {
        margin-top: 0px;
        color: #2E3B4D;
      }
      h2 {
        font-weight: bold;
        font-size: 28px;
        line-height: 36px;
        margin: 0px;
        margin-bottom: 16px;
        @include media-down(ct) {
          font-size: 24px;
          line-height: 32px;
        }
      }
      h3 {
        font-weight: bold;
        font-size: 24px;
        line-height: 32px;
        margin-bottom: 16px;
        @include media-down(ct) {
          font-size: 20px;
          line-height: 28px;
        }
      }
      h4 {
        font-weight: bold;
        font-size: 20px;
        line-height: 28px;
        margin-bottom: 16px;
        @include media-down(ct) {
          font-size: 20px;
          line-height: 28px;
        }
      }
      h5 {
        font-weight: bold;
        font-size: 20px;
        line-height: 28px;
        margin-bottom: 16px;
      }
      h1 {
        margin: 0px;
        padding: 0px;
        margin-bottom: 16px;
        font-weight: bold;
        font-size: 32px;
        line-height: 40px;
        @include media-down(ct) {
          font-size: 28px;
          line-height: 36px;
          text-align: left;
          br {
            display: none;
          }
        }
      }
    }
    .vc_row {
      ul {
        margin: 0px;
        list-style-type: none;
        padding: 0px;
        font-size: 16px;
        line-height: 24px;
        color: #2E3B4D;
        li {
          padding-left: 40px;
          position: relative;
          margin-bottom: 16px;
          &:last-child {
            margin-bottom: 0px;
          }
          &:before {
            display: block;
            content: "";
            width: 24px;
            height: 24px;
            border-radius: 100%;
            background-color: #E0EEFF;
            position: absolute;
            left: 0px;
            background-repeat: no-repeat;
            background-position: center;
            background-image: url("data:image/svg+xml,%3Csvg width='13' height='9' viewBox='0 0 13 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.32812 8.78906L0.414062 4.89844C0.304688 4.78906 0.25 4.64844 0.25 4.47656C0.25 4.30469 0.304688 4.16406 0.414062 4.05469L1.28125 3.21094C1.39062 3.08594 1.52344 3.02344 1.67969 3.02344C1.85156 3.02344 2 3.08594 2.125 3.21094L4.75 5.83594L10.375 0.210938C10.5 0.0859375 10.6406 0.0234375 10.7969 0.0234375C10.9688 0.0234375 11.1094 0.0859375 11.2188 0.210938L12.0859 1.05469C12.1953 1.16406 12.25 1.30469 12.25 1.47656C12.25 1.64844 12.1953 1.78906 12.0859 1.89844L5.17188 8.78906C5.0625 8.91406 4.92188 8.97656 4.75 8.97656C4.57812 8.97656 4.4375 8.91406 4.32812 8.78906Z' fill='%233E74E7'/%3E%3C/svg%3E");
          }
          ul {
            li {
              padding-left: 0px;
              margin-top: 8px;
              &:before {
                content: '- ';
                background: none;
                display: inline;
                width: auto;
                height: auto;
                position: static;
              }
            }
          }
        }
      }
      .simple-bullets ul li, ul.simple-bullets li  {
        margin-bottom: 8px;
        padding-left: 40px;
        &:before {
          background: none;
          content: "●";
          color: #3E74E7;
          position: absolute;
          padding-left: 10px;
        }
      }
      ul.inner-simple-bullets ul li  {
        margin-bottom: 8px;
        padding-left: 40px;
        &:before {
          background: none;
          padding-left: 10px;
          content: "●";
          color: #3E74E7;
          position: absolute;
        }
      }
      ol.inner-simple-bullets ul li ul li  {
        margin-bottom: 8px;
        padding-left: 40px;
        &:before {
          background: none;
          padding-left: 10px;
          content: "●";
          color: #3E74E7;
          position: absolute;
        }
      }
      
      ul.sublist, ol.sublist {
        padding-left: 40px;
      }
      
      ol {
        margin: 0px;
        list-style-type: none;
        padding: 0px;
        font-size: 16px;
        line-height: 24px;
        color: #2E3B4D;
        counter-reset: myCounter;
        li {
          padding-left: 40px;
          position: relative;
          margin-bottom: 16px;
          &:last-child {
            margin-bottom: 0px;
          }
          &:before {
            display: flex;
            justify-content: center;
            align-items: center;
            counter-increment: myCounter;
            content:counter(myCounter);
            width: 24px;
            height: 24px;
            border-radius: 100%;
            background-color: #E0EEFF;
            position: absolute;
            left: 0px;
            color: #3E74E7;
            font-weight: bold;
            font-size: 14px;
            line-height: 20px;
          }
          ul {
            margin-top: 16px;
            li:before {
              content: '';
            }
          }
        }
      }
      .wp-block-image img {
        height: auto;
      }
    }
  }
}


