// grid breakpoints
$grid-breakpoints: (
	xs: 0,
	sm: 568px,
	md: 768px,
	lg: 992px,
	nt: 1200px,
  ct: 1280px,
  xl: 1312px,
  slp: 1366px,
	slpu: 1367px,
	lp: 1450px,
	dlp: 1670px,
  dp: 1920px,
) !default;

$transition: all 0.3s linear 0s;

$dark_blue: #3E74E7;
$dark_blue_hover: #3162CC;
$dark_blue_transparent: rgba(62, 116, 231,0.1);

$blue: #2FBAFD;
$blue_hover: #0697DD;
$blue_transparent: rgba(17, 169, 242, 0.1);

$red: #FF3030;
$red_hover: #BF0000;
$red_transparent: rgba(237, 46, 69, 0.1);

$lilac: #8E7CF9;
$lilac_hover: #7561EB;
$lilac_transparent: rgba(117, 97, 235, 0.1);

$green: #34C759;
$green_hover: #178700;
$green_transparent: rgba(50, 219, 189, 0.1);

$transparent: rgba(255, 255, 255, 0.5);
$transparent_hover: rgba(255, 255, 255, 0.8);

$orange: #FCC150;
$orange_hover: #FCC150;
$orange_transparent: rgba(252, 193, 80, 0.1);

$dark_green: #34C759;
$dark_green_hover: #1BA100;


$blue_text: #3E74E7;
$red_text: #FF3030;
$green_text: #34C759;
$orange_text: #FFAB00;