.i-svg {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
  font-size: 30px;
}

.icon-android {
  width:(553.048/553.048)*1em;
}
.icon-apple {
  width:(512/512)*1em;
}
.icon-arrow-1 {
  width:(13/8)*1em;
}
.icon-arrow-2 {
  width:(19/15)*1em;
}
.icon-arrow-3 {
  width:(10/6)*1em;
}
.icon-arrow-4 {
  width:(20/12)*1em;
}
.icon-arrow-5 {
  width:(18/10)*1em;
}
.icon-book {
  width:(20/20)*1em;
}
.icon-chain {
  width:(25/13)*1em;
}
.icon-check {
  width:(17/15)*1em;
}
.icon-circle-close {
  width:(20/20)*1em;
}
.icon-close {
  width:(12/12)*1em;
}
.icon-close-2 {
  width:(15/15)*1em;
}
.icon-close-3 {
  width:(24/24)*1em;
}
.icon-close-4 {
  width:(14/14)*1em;
}
.icon-direction {
  width:(21/21)*1em;
}
.icon-download {
  width:(24/24)*1em;
}
.icon-download-bold {
  width:(16/16)*1em;
}
.icon-external {
  width:(12/12)*1em;
}
.icon-facebook {
  width:(24/24)*1em;
}
.icon-go-down {
  width:(50/50)*1em;
}
.icon-instagram {
  width:(24/24)*1em;
}
.icon-knowledge {
  width:(42/28)*1em;
}
.icon-linkedin {
  width:(24/24)*1em;
}
.icon-location {
  width:(682/682)*1em;
}
.icon-login {
  width:(24/24)*1em;
}
.icon-mail {
  width:(16/12)*1em;
}
.icon-mail-2 {
  width:(20/15)*1em;
}
.icon-marketplace {
  width:(24/24)*1em;
}
.icon-people {
  width:(24/15)*1em;
}
.icon-phone {
  width:(20/21)*1em;
}
.icon-play {
  width:(21/28)*1em;
}
.icon-play_2 {
  width:(20/21)*1em;
}
.icon-resource {
  width:(38/52)*1em;
}
.icon-search {
  width:(24/24)*1em;
}
.icon-star {
  width:(28/27)*1em;
}
.icon-time {
  width:(20/20)*1em;
}
.icon-twitter {
  width:(24/24)*1em;
}
.icon-university {
  width:(24/24)*1em;
}
.icon-upload {
  width:(40/29)*1em;
}
.icon-video-play {
  width:(64/64)*1em;
}
.icon-world {
  width:(20/20)*1em;
}
.icon-youtube {
  width:(24/24)*1em;
}
