.hidden-map {
    display: none;
}
.fa-globe:before {
    content: "\f0ac";
}
.fa-comments-o:before {
    content: "\f0e6";
}
#map {
    text-align: center;
}
.st0{
    fill:#006596;
    cursor: pointer;
}
.st1{
    fill:#1B51A6;
    cursor: pointer;
}
.st2{
    fill:#009FE1;
    cursor: pointer;
}
.st3{
    fill:#429CE3;
    cursor: pointer;
}
.st4{
    fill:#0078D7;
    cursor: pointer;
}
.st5{
    fill:#2C4E86;
    cursor: pointer;
}

