.breadcrumbs {
  font-size: 14px;
  line-height: 20px;
  color: #8491A3;
  margin-bottom: 8px;
  @include media-down(ct) {
    display: none;
  }
  a {
    color: #2E3B4C;
    text-decoration: none;
    &:hover {
      color: #3E74E7;
    }
  }
}
.knowledge-center {
  .breadcrumbs {
     margin-bottom: 40px;
  }
}
