.content-form, .text-content .content-form {
  background: #EEF4FA;
  border-radius: 6px;
  padding: 50px;
  margin-bottom: 32px;
  @include media-down(sm)  {
    padding: 50px 20px;
  }
  
  h2 {
    margin-top: 0px;
  }
  .wpcf7 {
    input[type="text"], input[type="email"], input[type="tel"] {
      border: 1px solid #CAD3DE;
      margin-bottom: 0px;
      margin-top: 20px;
    }
    .agree {
      margin-top: 20px;
      .wpcf7-list-item {
        margin: 0px;
      }
    }
    p {
      margin-bottom: 0px;
    }
    span.wpcf7-not-valid-tip {
      margin-top: 10px;
    }
    .btn {
      margin-top: 20px;
      @include media-down(sm)  {
        width: 100%;
      }
    }
  }
  
  .form-footer-subscribe {
    .f-fields {
      display: flex;
      align-items: start;
      justify-content: space-between;
      @include media-down(sm)  {
        flex-direction: column;
      }
      .email {
        width: calc(100% - 220px);
        @include media-down(sm)  {
          width: 100%;
        }
      }
      .btn {
        width: 200px;
        @include media-down(sm)  {
          width: 100%;
        }
      }
    }
  }
}