.contact-person-block {
  width: 100vw;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  position: relative;
  .content-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 520px;
    @include media-down(ct) {
      height: auto;
      flex-direction: column;
      align-items: center;
    }
    .c-p-data {
      width: 608px;
      @include media-down(ct) {
        width: 100%;
        padding: 82px 20px;
        padding-bottom: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        box-sizing: border-box;
      }
      .c-p-message {
        font-weight: 900;
        font-size: 36px;
        line-height: 45px;
        text-transform: capitalize;
        font-family: 'Merriweather', serif;
        @include media-down(ct) {
          font-size: 28px;
          line-height: 35px;
          text-align: center;
          max-width: 480px;
        }
      }
      .c-p-name {
        font-size: 28px;
        line-height: 34px;
        opacity: 0.8;
        font-family: 'latoheavy';
        margin-top: 25px;
        @include media-down(ct) {
          font-size: 24px;
          line-height: 29px;
          text-align: center;
        }
      }
      .c-p-post {
        font-size: 18px;
        line-height: 22px;
        opacity: 0.6;
        margin-top: 3px;
        @include media-down(ct) {
          text-align: center;
        }
      }
      .c-p-mail {
        display: flex;
        align-items: center;
        font-weight: bold;
        font-size: 18px;
        line-height: 22px;
        text-transform: capitalize;
        color: #FFFFFF;
        text-decoration: none;
        margin-top: 73px;
        transition: $transition;
        @include media-down(ct) {
          margin-top: 37px;
        }
        &:hover {
          font-size: 19px;
          transition: $transition;
        }
        .icon-mail {
          width: 22px;
          height: 19px;
          opacity: 0.6;
          margin-right: 12px;
        }
        .icon-arrow-1 {
          width: 15px;
          height: 10px;
          margin-top: 1px;
          margin-left: 8px;
          transform: rotate(-90deg);
        }
      }
    }
    .c-p-image {
      position: absolute;
      right: 50px;
      bottom: 0px;
      @include media-down(ct) {
        position: relative;
        right: auto;
        bottom: auto;
        width: 100%;
        max-width: 540px;
      }
      img {
        display: block;
        position: relative;
        z-index: 1;
        @include media-down(ct) {
          width: 100%;
          height: auto;
        }
      }
      .c-p-quotes {
        width: 169px;
        height: 153px;
        background: url('../images/quotes-img.png');
        background-size: cover;
        position: absolute;
        bottom: 282px;
        right: -76.5px;
        @include media-down(ct) {
          bottom: 45%;
        }
        @include media-down(sm) {
          width: 112px;
          height: 101px;
          right: -56px;
        }
        &.left-side {
          right: auto;
          left: -76.5px;
          @include media-down(sm) {
            left: -56px;
          }
        }
      }
    }
  }
}

