.history-block {
  padding: 80px 0px;
  padding-top: 65px;
  @include media-down(ct) {
    padding: 58px 40px;
    padding-bottom: 0px;
  }
  .h-description {
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: #727E8E;
    margin-top: 35px;
    @include media-down(ct) {
      text-align: center;
      margin-top: 32px;
    }
  }
  
  .history {
    height: 360px;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    @include media-down(ct) {
      flex-direction: column;
      height: auto;
      align-items: center;
      margin-top: 80px;
    }
    .history-moment {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      @include media-down(ct) {
        width: 100%;
        max-width: 420px;
      }
      .h-icon {
        display: block;
        cursor: pointer;
        @include media-down(ct) {
          display: none;
        }
      }
      .h-date {
        text-align: center;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        color: #727E8E;
        margin-top: 26px;
        @include media-down(ct) {
          display: none;
        }
      }
      .h-block {
        width: 212px;
        box-shadow: 0 6px 30px rgba(132, 145, 163, 0.3);
        background-color: #ffffff;
        display: flex;
        align-items: center;
        flex-direction: column;
        position: absolute;
        bottom: 180px;
        left: calc(50% - 106px);
        border-radius: 10px;
        padding: 27px 15px;
        box-sizing: border-box;
        opacity: 0;
        transition: $transition;
        @include media-down(ct) {
          position: static;
          opacity: 1;
          width: 100%;
          margin-bottom: 71px;
          padding-top: 0px;
        }
        &.opened {
          opacity: 1;
          transition: $transition;
        }
        .h-b-icon {
          display: none;
          @include media-down(ct) {
            display: block;
            margin-top: -55px;
          }
        }
        .h-b-date {
          font-size: 20px;
          line-height: 24px;
          color: black;
          text-align: center;
        }
        .h-b-text {
          font-size: 18px;
          line-height: 22px;
          text-align: center;
          color: #727E8E;
          margin-top: 5px;
          @include media-down(sm) {
            max-width: 182px;
          }
        }
        .triangle-wrapper {
          bottom: -10px;
          left: calc(50% - 11px);
          position: absolute;
          width: 22px;
          height: 10px;
          overflow: hidden;
          @include media-down(ct) {
            display: none; 
          }
          .triangle {
            width: 26px;
            height: 26px;
            background-color: white;
            border-radius: 3px;
            transform: rotate(45deg);
            position: absolute;
            top: -20px;
            left: calc(50% - 13px);
          }
        }
      }
    }
    .history-line {
      height: 25px;
      background: url(../images/history-line.png);
      position: absolute;
      bottom: 25px;
      width: 100%;
      @include media-down(ct) {
        display: none;
      }
    }
  }
  
  .history-container {
    margin-top: 100px;
    @include media-down(ct) {
      margin-top: 80px;
    }
    .h-blocks {
      margin-bottom: 21px;
      display: flex;
      position: relative;
      @include media-down(ct) {
        flex-direction: column;
        align-items: center;
        margin-bottom: 0px;
      }
      .h-block {
        width: 212px;
        height: 186px;
        box-shadow: 0 6px 30px rgba(132, 145, 163, 0.3);
        background-color: #ffffff;
        display: flex;
        align-items: center;
        flex-direction: column;
        position: relative;
        border-radius: 10px;
        @include media-down(ct) {
          width: 100%;
          max-width: 400px;
          margin-bottom: 70px;
        }
        .h-b-icon {
          position: relative;
          top: -50px;
          position: absolute;
          left: calc(50% - 53px);
        }
        .h-b-title {
          font-size: 20px;
          line-height: 24px;
          color: black;
          text-align: center;
          margin-top: 55px;
        }
        .h-b-text {
          font-size: 18px;
          line-height: 22px;
          text-align: center;
          color: #727E8E;
          margin-top: 5px;
          @include media-down(ct) {
            padding: 0 10px;
            max-width: 216px;
          }
        }
        &.h-block-1 {
          margin-left: 23px;
          @include media-down(ct) {
            margin-left: 0px;
          }
          .h-b-icon {
            @include sprite($i-h-i-1);
          }
        }
        &.h-block-2 {
          margin-left: 143px;
          @include media-down(ct) {
            margin-left: 0px;
          }
          .h-b-icon {
            @include sprite($i-h-i-2); 
          }
        }
        &.h-block-3 {
          margin-left: 24px;
          @include media-down(ct) {
            margin-left: 0px;
          }
          .h-b-icon {
            @include sprite($i-h-i-3);
          }
        }
        &.h-block-4 {
          margin-left: 60px;
          @include media-down(ct) {
            margin-left: 0px;
          }
          .h-b-icon {
            @include sprite($i-h-i-4); 
          }
        }
        .triangle-wrapper {
          bottom: -10px;
          left: calc(50% - 11px);
          position: absolute;
          width: 22px;
          height: 10px;
          overflow: hidden;
          @include media-down(ct) {
            display: none; 
          }
          .triangle {
            width: 26px;
            height: 26px;
            background-color: white;
            border-radius: 3px;
            transform: rotate(45deg);
            position: absolute;
            top: -20px;
            left: calc(50% - 13px);
          }
        }
      }
    }
    .history-line {
      height: 53px;
      background: url(../images/history-line.png);
      @include media-down(ct) {
        display: none;
      }
    }
  }
}

