.main-banner {
  height: 660px;
  overflow: hidden;
  width: 100%;
  position: relative;
  @include media-down(md) {
    height: auto;
    padding: 32px 0px;
  }
  .main-banner-video {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    @include media-down(md) {
      display: none;
    }
  }
  .main-banner-text-wrapper {
    width: 100%;
    position: absolute;
    height: 100%;
    @include media-down(md) {
      position: static;
    }
    .main-banner-text-container {
      margin: 0 auto;
      max-width: 1280px;
      display: flex;
      align-items: center;
      height: 100%;
    }
    .main-banner-text {
      max-width: 730px;
      background: rgba(255, 255, 255, 0.72);
      backdrop-filter: blur(7px);
      border-radius: 10px;
      padding: 32px;
      margin: 0px;
      @include media-down(lg) {
        margin: 0 16px;
      }
      @include media-down(md) {
        margin: 0px;
        background: none;
        width: 100%;
        max-width: 100%;
        margin: 0px;
        padding: 32px 16px;
      }
      h1 {
        margin-bottom: 32px;
        font-weight: bold;
        font-size: 32px;
        line-height: 40px;
        @include media-down(md) {
          color: white;
        }
      }
      .main-banner-description {
        margin-bottom: 32px;
        font-size: 20px;
        line-height: 28px;
        max-width: 570px;
        @include media-down(md) {
          color: white;
          max-width: 100%;
        }
      }
      .main-banner-btn {
        width: 250px;
        @include media-down(md) {
          display: flex;
          margin: 0 auto;
          background-color: $transparent;
          &:hover {
            background-color: $transparent_hover;
          }
        }
      }
    }
  }
}
