.petrosoft-message-widget {
  padding: 20px 0px;
  box-sizing: border-box;
  position: relative;
  display: none;
  @include media-down(ct) {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  &.blue {
    background-color: #E7F6FF;
  }
  &.red {
    background-color: #FEEEEF;
  }
  &.green {
    background-color: #E0FDF6;
  }
  &.yellow {
    background-color: #FFF5E1;
  }
  .w-close {
    width: 13px;
    height: 14px;
    color: #CAD3DE;
    position: absolute;
    right: 37px;
    top: calc(50% - 7.5px);
    cursor: pointer;
    @include media-down(ct) {
      top: 16px;
      right: 13px;
    }
    .i-svg {
      width: 100%;
      color: #CAD3DE;
      height: 100%;
      width: 13px;
      height: 14px;
    }
  }
  .content-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include media-down(ct) {
      padding: 0 40px;
      flex-direction: column;
      justify-content: center;
    }
    .w-message {
      font-style: italic;
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      color: #727E8E;
      @include media-down(ct) {
        text-align: center;
        font-size: 12px;
      }
      a {
        color: #3E74E7;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    .w-buttons {
      display: flex;
      @include media-down(ct) {
        flex-direction: column;
        width: 100%;
        align-items: center;
      }
      .btn {
        min-width: 162px;
        padding: 9px 33px;
        font-weight: bold;
        font-size: 16px;
        line-height: 19px;
        margin-left: 10px;
        white-space: nowrap;
        @include media-down(ct) {
          margin-left: 0px;
          margin-bottom: 10px;
          width: 100%;
          max-width: 320px;
          white-space: normal;
        }
      }
    }
  }
}

.fixed-screen-bottom {
  .petrosoft-message-widget:last-child {
    .w-close {
      top: 20px;
      @include media-down(ct) {
        bottom: 24px;
        top: auto;
      }
    }
  }
}

