.news-subscribe-form {
  background-color: #3E74E7;
  color: white;
  height: 460px;
  display: flex;
  align-items: center;
  @include media-down(ct) {
    height: auto;
  }
  .content-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include media-down(ct) {
      flex-direction: column;
      padding: 55px 20px;
      margin-top: 0px !important;
    }
    .ns-form-wrapper {
      width: 602px;
      @include media-down(ct) {
        margin-top: 0px;
        width: 590px;
      }
      @include media-down(sm) {
        width: 100%;
      }
      .ns-title {
        font-size: 48px;
        line-height: 58px;
        color: #FFFFFF;
        margin-bottom: 5px;
        @include media-down(ct) {
          text-align: center;
          font-size: 26px;
          line-height: 26px;
          margin-bottom: 10px;
        }
        @include media-down(sm) {
          font-size: 24px;
        }
      }
      .ns-subtitle {
        font-weight: bold;
        font-size: 18px;
        line-height: 22px;
        color: #E7F6FF;
        margin-bottom: 20px;
        @include media-down(ct) {
          text-align: center;
          margin-bottom: 25px;
        }
        @include media-down(sm) {
          font-size: 16px;
        }
      }
      .ns-form {
        .f-fields {
          display: flex;
          align-items: baseline;
          @include media-down(ct) {
            flex-direction: column;
          }
          .wpcf7-form-control-wrap {
            @include media-down(ct) {
              width: 100%;
            }
          }
          .wpcf7-email {
            background: #FFFFFF;
            border: 1px solid #CAD3DE;
            box-sizing: border-box;
            border-radius: 6px;
            width: 317px;
            height: 54px;
            @include media-down(ct) {
              width: 100%;
            }
          }
          .wpcf7-not-valid-tip {
            margin-bottom: 20px;
          }
          .btn {
            border: 0px;
            height: 54px;
            margin-left: 31px;
            background-color: white;
            color: #3E74E7;
            @include media-down(ct) {
              width: 100%;
              margin-left: 0px;
            }
          }
        }
        .agree {
          max-width: 570px;
          @include media-down(ct) {
            margin-top: 20px;
          }
          .wpcf7-list-item {
            margin-left: 0px;
          }
        }
        .wpcf7-response-output.wpcf7-validation-errors  {
          display: none !important;
        }
        .wpcf7-response-output {
          margin-top: 10px;
        }
      }
    }
    img {
      max-width: 350px;
      height: auto;
      @include media-down(ct) {
        display: none
      }
    }
  }
}

.mobile-news-subscribe-form {
  display: none;
  @include media-down(ct) {
    display: block;
    margin-bottom: 20px;
  }
}
.desktop-news-subscribe-form {
  display: block;
  @include media-down(ct) {
    display: none;
  }
}