.pages-catalog-block {
  padding: 80px 0px;
  padding-bottom: 30px;
  @include media-down(ct) {
    padding: 80px 40px;
    padding-bottom: 30px;
    margin-bottom: 0px;
  }
  @include media-down(sm) {
    padding: 80px 15px;
    padding-bottom: 30px;
  }
  .pc-main-description {
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: #727E8E;
    margin-top: 40px;
    @include media-down(ct) {
      text-align: center;
    }
    @include media-down(sm) {
      margin-top: 21px;
    }
  }
  .pages-list {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    @include media-down(ct) {
      justify-content: space-around;
    }
    .c-page {
      width: 270px;
      margin-right: 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-bottom: 50px;
      &:nth-child(4n) {
        margin-right: 0px;
      }
      @include media-down(ct) {
        margin-right: 0px;
        margin: 0 10px;
        margin-bottom: 40px;
        &:nth-child(4n) {
          margin-right: 10px;
        }
      }
      
      a.only-mobile-link {
        @include media-up(ct) {
          color: #727E8E;
          text-decoration: none;
        }
      }
      
      .p-image {
        display: block;
        margin-bottom: 15px;
        img {
          display: block;
          border-radius: 10px;
        }
      }
      .p-title {
        font-weight: bold;
        text-transform: capitalize;
        color: #000000;
        text-decoration: none;
        transition: $transition;
        padding-left: 10px;
        box-sizing: border-box;
        display: block;
        @include media-down(xs) {
          padding-left: 0px;
        }
        &:hover {
          color: #3E74E7;
          transition: $transition;
        }
        h3 {
          margin: 0px;
          font-size: 20px;
          line-height: 24px;
        }
      }
      .p-description {
        font-size: 18px;
        line-height: 22px;
        color: #727E8E;
        padding-left: 10px;
        box-sizing: border-box;
        margin-top: 8px;
        @include media-down(xs) {
          padding-left: 0px;
        }
      }
      
      .p-more-link {
        font-weight: bold;
        font-size: 18px;
        line-height: 22px;
        color: #3E74E7;
        display: flex;
        align-items: center;
        text-decoration: none;
        margin-top: 11px;
        position: relative;
        transition: $transition;
        padding-right: 18px;
        width: 100%;
        padding-left: 10px;
        box-sizing: border-box;
        @include media-down(xs) {
          padding-left: 0px;
        }
        &:hover {
          transition: $transition;
          font-size: 19px;
        }
        position: relative;
        .i-svg {
          width: 13px;
          height: 8px;
          margin-top: 3px;
          margin-left: 5px;     
          transform: rotate(-90deg);
        }
      }
      .btn {
        margin-top: 20px;
      }
    }
  }
}