.petrosoft-popup-block {
  height: auto;
  position: fixed;
  padding: 30px;
  max-height: 90%;
  background-color: white;
  transition: left 0.5s linear 0s;
  left: -1200px;
  bottom: 15px;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 230px;
  justify-content: center;
  box-sizing: border-box;
  z-index: 100000000000;
  width: 320px;
  box-shadow: 1px 1px 18px 2px rgba(0,0,0,0.16);
  @include media-down(ct) {
    width: calc(100% - 30px);
    max-width: 320px;
  }
  &.with-image {
    padding: 0px;
    padding-top: 16px;
    padding-right: 50px;
    padding-left: 32px;
    width: 553px;
    @include media-down(ct) {
      width: calc(100% - 30px);
      max-width: 305px;
      padding: 24px;
      padding-bottom: 22px;
      padding-top: 36px;
    }
    .p-data {
      margin-top: -16px;
      @include media-down(ct) {
        margin-top: 0px;
      }
    }
    .p-step-2 {
      justify-content: space-between;
      @include media-down(ct) {
        flex-direction: column;
      }
      .p-mail-form { 
        width: 465px;
        max-width: 465px;
        @include media-down(ct) {
          width: 100%;
        }
      }
    }
    .p-content {
      justify-content: space-between;
      @include media-down(ct) {
        flex-direction: column;
      }
      .btn {
        @include media-down(ct) {
          margin-top: 0px;
        }
      }
    }
    
    
  }
  &.step-3 {
    padding-left: 35px;
    padding-right: 35px;
    padding: 20px;
  }
  @include media-down(ct) {
    border-radius: 0px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 5px;
  }
  &.open {
    left: 15px;
  }
  .p-close {    
    position: absolute;
    top: 10px;
    right: 8px;
    cursor: pointer;
    .i-svg {
      width: 13px;
      height: 13px;
    }
  }
  .p-content {
    display: flex;
    align-items: center;
    overflow: hidden;
    justify-content: center;
    width: 100%;
    @include media-down(sm) {
      max-width: 360px;
    }
    .p-image {
      height: auto;
      width: 182px;
      margin-right: 26px;
      @include media-down(ct) {
        display: none;
      }
    }
    .p-image-mobile {
      display: none;
      @include media-down(ct) {
        width: calc(100% - 53px);
        height: auto;
        display: block;
        margin: 0 auto;
        margin-top: 18px;
      }
    }
    .p-data {
      max-width: 465px;
    }
    .p-title {
      font-size: 20px;
      line-height: 110%;
      font-family: 'latoheavy';
      @include media-down(ct) {
        font-size: 21px;
        line-height: 110%;
        text-align: center;
        br {
          display: none;
        }
      }
    }
    .p-subtitle {
      font-family: "latosemibold";
      font-size: 19px;
      line-height: 110%;
      margin-top: 8px;
      margin-bottom: 8px;
      @include media-down(ct) {
        font-size: 20px;
        text-align: center;
        br {
          display: none;
        }
      }
    }
    .btn {
      margin-top: 17px;
      width: 100%;
      @include media-down(ct) {
        margin-top: 17px;
      }
      &.transparent {
        background: none;
        border: 3px solid;
        border-radius: 5px;
        font-size: 19px;
        line-height: 110%;
        font-family: 'latoheavy';
        padding: 6px;
      }
    }
  }
  .p-step-2 {
    display: none;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    .p-image {
      display: block;
      height: auto;
      width: 182px;
      margin-right: 26px;
      @include media-down(ct) {
        width: calc(100% - 53px);
        height: auto;
        display: block;
        margin: 0 auto;
      }
    }
    .p-mail-form {
      max-width: 290px;
      input[type=text],
      input[type=url],
      input[type=tel],
      input[type=number],
      input[type=color],
      input[type=email] {
        border-radius: 6px;
        height: 54px;
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 20px;
        padding: 0 20px;
        border: 1px solid #CAD3DE;
        box-sizing: border-box;
        width: 100%;
      }
      .btn {
        border: none;
        width: 100%;
        transition: background-color 0.3s linear 0s;
      }
      .agree {
        margin-top: 15px;
      }
    }
  }
  .p-step-3 {
    display: none;
    width: 100%;
    .p-s3-message {
      text-align: center;
      font-size: 22px;
      font-weight: 600;
    }
    a {
      text-align: center;
      width: 100%;
      display: block;
      font-size: 20px;
      margin-top: 20px;
    }
  }
}
