.request-a-call-block {
  width: 100vw;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  position: relative;
  flex-direction: column;
  height: 579px;
  background: #EEF4FA;
  display: flex;
  flex-direction: column;
  justify-content: center;
  @include media-down(ct) {
    height: auto;
  }
  .content-area {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include media-down(ct) {
      padding: 80px 40px;
    }
  }
  .r-c-img {
    @include media-down(ct) {
      display: none;
    }
    img {
      display: block;
    }
  }
  .r-c-data {
    width: 540px;
    @include media-down(ct) {
      width: 100%;
      display: flex;
      align-items: center;
      flex-direction: column;
    }
    .r-c-img-mobile {
      display: none;
      @include media-down(ct) {
        display: block;
        margin-top: 40px;
      }
      img {
        display: block;
        width: 100%;
        height: auto;
      }
    }
    .r-c-description {
      font-weight: bold;
      font-size: 18px;
      line-height: 22px;
      color: #727E8E;
      margin-top: 18px;
      @include media-down(ct) {
        text-align: center;
      }
    }
    .btn {
      margin-top: 30px;
      @include media-down(ct) {
        width: 100%;
        max-width: 320px;
        margin-top: 26px;
      }
    }
  }
}

