.schedule-demo-block {
  height: 660px;
  background-size: cover;
  width: 100vw;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  position: relative;
  @include media-down(ct) {
    display: none;
    margin-bottom: 60px;
  }
}

#schedule-demo-block .sh-title h2 {
  padding-left: 34px !important;
  margin-top: 100px;
}

@media (max-width: 1199px) {
  #schedule-demo-block .sd-content {
    max-width: 100% !important;
  }
}

@media (max-width: 576px) {
  #schedule-demo-block {
    input {
      max-width: 100% !important;
      margin-right: 0px !important;
    }

    .selectric-petrosoft-select {
      width: 100% !important;
      margin-right: 0px !important;
    }
  }
}

.schedule-demo-block .sd-content {
  max-width: 1280px;
  margin: 0 auto;
}

#schedule-demo-block {
  .sd-content {
    display: table;

    .left-container {
      width: 60%;
      display: table-cell;
      vertical-align: top;
    }

    .right-container {
      width: 40%;
      display: table-cell;
      vertical-align: middle;

      img {
        width: 120%;
        margin-top: 100px;
      }
    }
  }

  .sh-title h2 {
    color: #fff !important;

    &:after {
      background-color: #fff !important;
    }
  }
}

#schedule-a-demo input[type=submit] {
  background: rgba(255, 255, 255, 0.5);
  margin-left: calc(50% - 116px);
  width: auto;

  &:hover {
    background: rgba(255, 255, 255, 0.8);
  }
}

@media (max-width: 1199px) {
  #schedule-demo-block .sd-content {
    .left-container {
      width: 100% !important;
    }

    .right-container {
      display: none !important;
    }
  }

  .schedule-demo-block form {
    max-width: calc(100% - 40px) !important;
    padding: 20px !important;
  }

  #schedule-demo-block .sh-title h2 {
    margin-left: 0 !important;
    padding-left: 0 !important;
  }
}

@media (max-width: 1199px) {
  .schedule-demo-block {
    display: table !important;
  }
}

@media (max-width: 768px) {
  .schedule-demo-block {
    .sd-content {
      max-width: 100% !important;
    }

    form {
      float: none !important;
      margin: 0 auto !important;
    }
  }
}

.schedule-demo-block {
  display: table;

  form {
    display: block;
    float: right;
    width: 100%;
    padding: 20px 0;

    input {
      &[type=text], &[type=email], &[type=tel] {
        display: inline-block;
        background: #FFFFFF;
        border: 1px solid #CAD3DE;
        box-sizing: border-box;
        border-radius: 6px;
        padding: 17px 10px;
        margin-bottom: 20px;
        width: 49%;
        font-size: 14px;
        color: #727e8e;
        font-family: Lato,sans-serif;
      }

      &:nth-child(odd) {
        margin-right: 1%;
      }
    }

    select {
      display: block;
      background: #FFFFFF;
      border: 1px solid #CAD3DE;
      box-sizing: border-box;
      border-radius: 6px;
      padding: 17px 10px;
      margin-bottom: 20px;
      width: 100%;
    }

    input[type=submit] {
      cursor: pointer;
      border: none;
      font-family: Lato,sans-serif;
      width: auto;
      display: block;
      margin: 24px auto;
    }
  }

  form {
    .selectric-wrapper {
      padding-bottom: 20px;
      width: 49%;
      display: inline-block;

      &:nth-child(odd) {
        margin-right: 1%;
      }

      .selectric {
        padding: 5px 0;
      }
    }

    .selectric-petrosoft-select .selectric-items li:after {
      display: none !important;
    }

    span.agree {
      display: block;
      font-size: 18px;
      color: #fff;

      input {
        margin: 6px 6px 6px 0px;
      }
    }
  }
}