.stories-slider-block {
  max-height: 320px;
  overflow: hidden;
  border-radius: 8px;
  margin-top: 40px;
  margin-bottom: 24px;
  @include media-down(lg) {
    margin: 0 16px;
    margin-top: 40px;
    margin-bottom: 24px;
  }
  @include media-down(md) {
    max-height: 100%;
  }
  @include media-down(sm) {
    border-radius: 0px;
    margin: 0px;
    margin-top: 40px;
    margin-bottom: 0px;
  }
}
.stories-slider {
  .s-slide-content-wrapper {
    height: 320px;
    display: flex;
    justify-content: flex-end;
    @include media-down(md) {
      height: auto;
      flex-direction: column;
      justify-content: flex-start;
    }
  }
  .s-image {
    position: absolute;
    bottom: 0px;
    left: 0px;
    max-height: 320px;
    display: block;
    @include media-down(md) {
      position: static;
      max-height: 100%;
      width: 100%;
      height: auto;
    }
  }
  .s-text-part {
    width: 515px;
    padding-top: 40px;
    padding-right: 58px;
    box-sizing: border-box;
    color: white;
    @include media-down(md) {
      padding: 32px 16px;
      width: auto;
    }
    .s-title {
      font-weight: bold;
      font-size: 24px;
      line-height: 32px;
    }
    .s-name {
      font-weight: bold;
      font-size: 16px;
      line-height: 24px;
      color: rgba(255, 255, 255, 0.82);
      margin-top: 8px;
    }
    .s-post {
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
      color: rgba(255, 255, 255, 0.82);
    }
    .btn {
      margin-top: 26px;
      font-weight: bold;
      font-size: 14px;
      line-height: 20px;
      min-width: 190px;
      padding: 9px;
      @include media-down(md) {
        width: 100%;
        margin-bottom: 20px;
      }
      span {
        margin-bottom: -1px;
      }
      .s-video-icon {
        width: 20px;
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(255, 255, 255, 0.72);
        border-radius: 100%;
        margin-right: 8px;
        .i-svg {
          color: white;
          width: 6px;
          height: 7px;
          margin: 0px;
          margin-left: 2px;
        }
      }
    }
  }
  .s-bullets {
    display: flex;
    position: absolute;
    justify-content: center;
    width: 100%;
    bottom: 22px;
    .slick-dots {
      display: flex;
      position: static;
      justify-content: center;
      li {
        width: 8px;
        height: 8px;
        border: 1px solid white;
        background-color: white;
        border-radius: 100%;
        box-sizing: border-box;
        margin: 0 4px;
        &.slick-active {
          background-color: rgba(255, 255, 255, 0.42);
        }
        button {
          &:before {
            display: none;
          }
        }
      }
    }
  }
}

