.banner-block {
  height: 660px;
  background-size: cover;
  width: 100vw;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  position: relative;
  @include media-down(ct) {
    background-image: none !important;
    height: auto;
    padding-top: 80px;
    padding-bottom: 97px;
  }
  .content-area {
    display: flex;
    align-items: center;
    height: 100%;
    @include media-down(ct) {
      justify-content: center;
    }
    .b-data-block {
      width: 444px;
      @include media-down(ct) {
        width: 100%;
        max-width: 320px;
      }
      .b-title-wrapper {
        @include media-down(ct) {
          display: flex;
          flex-direction: column;
          align-items: center;
        }
        .b-title {
          font-size: 48px;
          line-height: 58px;
          font-weight: normal;
          padding: 0px;
          margin: 0px;
          font-family: 'Lato', sans-serif;
          @include media-down(ct) {
            text-align: center;
            font-weight: bold;
            font-size: 34px;
            line-height: 41px;
          }
        }
        .b-title-underline {
           @include media-down(ct) {
             height: 4px;
             width: 145px;
             margin-top: 22px;
           }
        }
      }
      .b-text {
        font-size: 18px;
        line-height: 22px;
        margin-top: 17px;
        @include media-down(ct) {
          text-align: center;
          font-weight: bold;
          font-size: 18px;
          line-height: 22px;
          margin-top: 22px;
        }
      }
      .b-button-wrapper {
        margin-top: 25px;
        @include media-down(ct) {
          display: flex;
          justify-content: center;
        }
        .btn {
          min-width: 250px;
          @include media-down(ct) {
            width: 100%;
          }
        }
      }
    }
  }
}

