.benefits-block {
  .b-tabs-header {
    display: flex;
    height: 122px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #CAD3DE;
    @include media-down(ct) {
      border-bottom: 0px;
      flex-direction: column;
      height: auto;
      box-sizing: border-box;
    }
    @include media-down(sm) {
      padding: 40px;
      padding-top: 30px;
    }
    .selectric-petrosoft-select {
      width: 100%;
      max-width: 320px;
      margin-top: 30px;
      display: none;
      @include media-down(ct) {
        display: block;
      }
    } 
    .b-nav {
      display: flex;
      margin: 0px;
      margin-left: 20px;
      align-self: flex-end;
      padding: 0px;
      @include media-down(ct) {
        display: none;
      }
      .b-nav-link {
        margin-right: 50px;
        list-style: none;
        &:last-child {
          margin-right: 0px;
        }
        &:hover, &.active {
          a {
            color: #3E74E7;
            transition: $transition;
            &:after {
              width: 100%;
              transition: $transition;
            }
          }
        }
        a {
          padding-bottom: 44px;
          box-sizing: border-box;
          font-weight: bold;
          font-size: 18px;
          line-height: 22px;
          text-transform: uppercase;
          color: #727E8E;
          transition: $transition;
          position: relative;
          cursor: pointer;
          display: block;
          text-decoration: none;
          &:after {
            content: '';
            height: 3px;
            width: 0;
            bottom: -1px;
            left: 0;
            background-color: #3e74e7;
            display: block;
            position: absolute;
            transition: $transition;
          }
        }
      }
    }
  }
  .b-tabs {
    width: 100vw;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    position: relative;
    background: #F5FAFF;
    @include media-down(ct) {
      background: none;
    }
    .b-tab {
      @include media-down(ct) {
        padding: 0 40px;
      }
      .b-tab-content {
        display: flex;
        flex-wrap: wrap;
        padding: 60px 0px;
        @include media-down(ct) {
          justify-content: center;
        }
        @include media-down(sm) {
          padding-top: 0px;
        }
        .benefit {
          width: 270px;
          min-height: 212px;
          border-radius: 10px;
          background-color: #ffffff;
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;
          align-items: center;
          transition: $transition;
          padding: 20px 25px;
          padding-bottom: 30px;
          box-sizing: border-box;
          box-shadow: 0px 6px 25px rgba(132, 145, 163, 0.25);
          cursor: pointer;
          margin-right: 20px;
          margin-bottom: 20px;
          &:nth-child(4n+4) {
            margin-right: 0px;
          }
          @include media-down(ct) {
            margin: 10px;
            margin-top: 0px;
            margin-bottom: 20px;
            &:nth-child(4n+4) {
              margin: 10px;
              margin-top: 0px;
              margin-bottom: 20px;
            }
          }
          @include media-down(sm) {
            width: 100%;
            max-width: 400px;
            margin: 0px;
            margin-bottom: 20px;
            &:nth-child(4n+4) {
              margin: 0px;
              margin-bottom: 20px;
            }
            &:hover {
              box-shadow: none;
            }
          }
          &:hover {
            transition: $transition;
          }
          .b-title {
            margin-top: 2px;
            font-weight: bold;
            font-size: 20px;
            line-height: 24px;
            text-align: center;
            text-transform: capitalize;
            color: #000000;
            max-width: 150px;
            @include media-down(sm) {
              max-width: 325px;
            }
          }
        }
      }
    }
  }
}

