.comment-banner-2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 8px;
  @include media-down(sm) {
    flex-direction: column;
  }
  .cb-content {
    width: calc(100% - 328px);
    padding-right: 24px;
    box-sizing: border-box;
    @include media-down(sm) {
      width: 100%;
      order: 2;
      padding-right: 0px;
      padding: 0 16px;
      box-sizing: border-box;
      margin-top: 16px;
    }
  }
  .cb-person {
    @include media-down(sm) {
      width: 100%;
    }
    img {
      max-width: 312px;
      display: block;
      @include media-down(sm) {
        width: 100%;
        height: auto;
        max-width: 100%;
      }
    }
  }
}
