.description-blocks {
  @include media-down(ct) {
    margin-top: 18px;
  }
  .description-block {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #cad3de;
    padding: 100px 0px;
    box-sizing: border-box;
    @include media-down(ct) {
      flex-direction: column;
      padding: 60px 40px;
      box-sizing: border-box;
      border-top: 0px;
      &:last-child {
        border-bottom: 0px;
      }
    }
    &:nth-child(2n+2) {
      .d-content {
        order: 2;
      }
      .d-image {
        order: 1;
      }
    }
    &:last-child {
      border-bottom: 0px;
    }
    .d-image {
      order: 2;
      img {
        display: block;
        border-radius: 10px;
        @include media-down(ct) {
          width: 100%;
          height: auto;
          order: 1;
        }
      }
    }
    .d-title {
      @include media-down(ct) {
        display: none;
      }
    }
    
    .d-mobile-title {
      display: none;
      @include media-down(ct) {
        display: flex;
        margin-bottom: 40px;
      }
    }
    .d-content {
      width: 540px;
      order: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      @include media-down(ct) {
        width: 100%;
        order: 2;
      }
    }
    .d-description {
      margin-top: 22px;
      font-size: 18px;
      line-height: 22px;
      color: #727E8E;
      @include media-down(ct) {
        margin-top: 40px;
      }
    }
  }
}

