.features-links-element {
  h2 {
    margin-bottom: 32px;
  }
  .f-main-description {
    max-width: 840px;
  }
  .feature-wrapper {
    margin-bottom: 32px;
    @include media-down(sm) {
      &>.vc_column-inner {
        padding: 0px;
      }
    }
  }
  .feature {
    a {
      display: flex;
      &:hover {
        text-decoration: none;
        .f-title {
          text-decoration: underline;
        }
      }
    }
    .f-icon {
      width: 64px;
      height: 64px;
      margin-right: 16px;
    }
    .f-title {
      font-weight: bold;
      font-size: 20px;
      line-height: 28px;
      margin-bottom: 8px;
    }
    .f-description {
      font-size: 16px;
      line-height: 24px;
      color: #2E3B4D;
    }
  }
}

