footer {
  .f-contacts-line {
    background: rgba(62,116,231,.1);
    position: relative;
    padding: 32px 0;
    padding-bottom: 44px;
    @include media-down(ct) {
      padding: 40px 0;
    }
    .content-area {
      display: flex;
      justify-content: space-between;
      @include media-down(ct) {
        flex-direction: column;
      }
      .f-contacts-data-wrapper {
        width: calc(50% - 16px);
        padding-right: 16px;
        @include media-down(ct) {
          width: 100%;
          padding-right: 0px;
        }
        .f-c-title {
          font-weight: bold;
          font-size: 20px;
          line-height: 28px;
          color: #2E3B4D;
          margin-bottom: 16px;
          @include media-down(ct) {
            text-align: center;
            margin-bottom: 0px;
          }
        }
        .fc-data {
          display: flex;
          @include media-down(ct) {
            flex-direction: column;
            align-items: center;
          }
          a {
            display: flex;
            align-items: center;
            font-weight: bold;
            font-size: 16px;
            line-height: 24px;
            color: #2E3B4D;
            text-decoration: none;
            margin-right: 32px;
            transition: $transition;
            &:last-child {
              margin-right: 0px;
            }
            &:hover {
              color: #3e74e7;
              transition: $transition;
            }
            @include media-down(ct) {
              margin-right: 0px;
              margin-top: 12px;
            }
            .i-svg {
              color: #3e74e7;
              margin-right: 10px;
              @include media-down(ct) {
                display: none;
              }
              &.icon-phone {
                width: 20px;
                height: 20px;
              }
              &.icon-mail-2 {
                width: 23px;
                height: 18px;
              }
              &.icon-direction {
                width: 20px;
                height: 20px;
              }
            }
          }
        }
        .f-social-networks {
          @include media-down(ct) {
            padding: 24px 0px;
          }
          .f-s-links {
            display: flex;
            margin-top: 16px;
            @include media-down(ct) {
              justify-content: space-between;
              width: 100%;
              max-width: 340px;
              margin-top: 25px;
              margin: 0 auto;
            }
            a {
              width: 48px;
              height: 48px;
              background-color: white;
              margin-right: 24px;
              display: flex;
              justify-content: center;
              align-items: center;
              border-radius: 100%;
              @include media-down(ct) {
                margin-right: 0px;
              }
              &:last-child {
                margin-right: 0px;
              }
              transition: $transition;
              &:hover {
                transition: $transition;
                background-color: #3e74e7;
                box-shadow: 0 4px 10px rgba(24,119,242,.25);
                .i-svg {
                  color: white;
                  transition: $transition;
                }
              }
              .i-svg {
                color: #2E3B4D;
                transition: $transition;
              }
            }
          }
        }
      }
      .f-subscribe-contacts-form {
        width: calc(50% - 16px);
        padding-left: 16px;
        @include media-down(ct) {
          width: 100%;
          padding-left: 0px;
        }
        .s-f-text-wrapper {
          .s-f-title {
            font-weight: bold;
            font-size: 20px;
            line-height: 28px;
            color: #2E3B4D;
            margin-bottom: 16px;
            @include media-down(ct) {
              text-align: center;
            }
          }
          .s-f-subtitle {
            font-size: 16px;
            line-height: 24px;
            color: #2E3B4D;
            @include media-down(ct) {
              text-align: center;
              color: #727E8E;
            }
          }
        }
        .s-f-form {
          margin-top: 16px;
          @include media-down(ct) {
            margin-top: 20px;
          }
          .f-fields {
            display: flex;
            align-items: start;
            flex-wrap: wrap;
            @include media-down(ct) {
              flex-direction: column;
              align-items: center;
            }
            .wpcf7-form-control-wrap {
              @include media-down(ct) {
                width: 100%;
              }
            }
            .wpcf7-email {
              background: #FFFFFF;
              border: 1px solid #CAD3DE;
              box-sizing: border-box;
              border-radius: 6px;
              width: 421px;
              height: 48px;
              margin-bottom: 10px;
              @include media-down(ct) {
                width: 100%;
              }
            }
            .wpcf7-not-valid-tip {
              margin-bottom: 20px;
            }
            .btn {
              margin-left: 16px;
              padding: 12px 46px;
              min-width: 186px;
              @include media-down(ct) {
                margin-left: 0px;
                min-width: 212px;
                order: 4;
              }
            }
          }
          .agree {
            font-size: 12px;
            line-height: 16px;
            color: #2E3B4D;
            display: flex;
            width: 100%;
            @include media-down(ct) {
              margin-bottom: 20px;
              max-width: 100%;
            }
            .wpcf7-list-item {
              margin-left: 0px;
              padding-left: 18px;
            }
            .petrosoft-checkbox+label::before, .petrosoft-checkbox+span::before {
              top: 1px;
              position: absolute;
              left: 0px;
            }
          }
          .wpcf7-response-output.wpcf7-validation-errors  {
            display: none !important;
          }
          .wpcf7-response-output {
            margin-top: 10px;
          }
        }
      }
    }
  }
  .f-menu-line {
    .content-area {
      @include media-down(ct) {
        padding: 0 16px;
      }
    }
    .f-menu {
      margin: 0px;
      padding: 0px;
      list-style-type: none;
      padding: 64px 0;
      padding-bottom: 56px;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      @include media-down(ct) {
        justify-content: space-around;
      }
      @include media-down(sm) {
        flex-direction: column;
        padding-top: 32px;
        padding-bottom: 16px;
      }
      .f-menu-block {
        margin: 0px;
        width: 20%;
        padding: 0px;
        list-style-type: none;
        box-sizing: border-box;
        padding-right: 10px;
        
        &:last-child {
          padding-right: 0px;
        }
        &:nth-child(5) {
          display: none;
        }
        @include media-down(ct) {
          width: 33%;
          margin-bottom: 25px;
          display: flex;
          justify-content: center;
        }
        @include media-down(sm) {
          width: 100%;
          margin-bottom: 0px;
          padding-right: 0px;
          display: block;
        }
        li {
          &.f-m-submenu {
            transition: $transition;
            border-color: #DCE0E5;
            @include media-down(sm) {
              margin: 8px 0px;
            }
            .f-m-main-link {
              margin-bottom: 12px;
              @include media-down(sm) {
                display: flex;
                margin-bottom: 0px;
                justify-content: space-between;
              }
              &.active a {
                color: #3e74e7;
              }
              a {
                font-weight: bold;
                font-size: 16px;
                line-height: 24px;
                color: #000000;
                text-decoration: none;
                &:hover {
                  color: #3e74e7;
                }
                @include media-down(sm) {
                  width: calc(100% - 32px);
                }
              }
              .f-m-open-menu {
                cursor: pointer;
                display: none;
                .i-svg {
                  width: 9px;
                  height: 6px;
                  color: #727E8E;
                  transition: $transition;
                }
                @include media-down(sm) {
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  width: 32px;
                }
              }
            }
          }
          &.opened {
            @include media-down(sm) {
              padding-top: 16px;
              border-top: 1px solid #DCE0E5;
              border-bottom: 1px solid #DCE0E5;
              transition: $transition;
              margin-bottom: 8px;
            }
            .f-m-children {
              display: block;
            }
            .f-m-open-menu {
              .i-svg {
                transform: rotate(180deg); 
                transition: $transition;
              }
            }
          }
          .f-m-children {
            padding: 0px;
            list-style-type: none;
            @include media-down(sm) {
              display: none;
              padding-left: 20px;
            }
            li {
              margin-bottom: 8px;
              @include media-down(sm) {
                 margin: 16px 0px;
              }
              &.active{
                a {
                  color: #3e74e7;
                }
              }
              a {
                text-decoration: none;
                font-size: 16px;
                line-height: 24px;
                color: #2E3B4D;
                transition: $transition;
                word-break: break-word;
                &:hover {
                  transition: $transition;
                  color: #3e74e7;
                }
              }
            }
          }
        }
      }
    }
  }
  .f-social-networks-line {
    height: 217px;
    display: flex;
    align-items: center;
    @include media-down(ct) {
      height: auto;
    }
    .content-area {
      display: flex;
      justify-content: space-between;
      align-items: center;
      @include media-down(ct) {
        flex-direction: column;
        justify-content: center;
      }
    }
    .f-images {
      display: flex;
      @include media-down(ct) {
        display: flex;
        height: 210px;
        align-items: center;
        width: 100vw;
        left: 50%;
        right: 50%;
        margin-left: -50vw;
        margin-right: -50vw;
        border-top: 1px solid #cad3de;
        border-bottom: 1px solid #cad3de;
        justify-content: center;
      }
      .iso {
        background: url(../images/f-iso.png) center center no-repeat;
        width: 120px;
        height: 120px;
        background-size: contain;
        margin-right: 45px;
        @include media-down(ct) {
          margin-right: 25px;
        }
      }
      .soc {
        background: url(../images/f-soc.png) center center no-repeat;
        width: 120px;
        height: 120px;
        background-size: contain;
      }
    }
  }
  
  .f-second-menu-line {
    .content-area {
      height: 104px;
      border-top: 1px solid #cad3de;
      border-bottom: 1px solid #cad3de;
      display: flex;
      align-items: center;
      justify-content: space-between;
      @include media-down(ct) {
        height: auto;
        flex-direction: column;
        padding-bottom: 34px;
      }
    }
    .f-second-menu {
      padding: 0px;
      list-style-type: none;
      display: flex;
      justify-content: space-between;
      width: calc(100% - 272px);
      flex-wrap: wrap;
      @include media-down(ct) {
        padding: 0px;
        width: 100%;
        justify-content: center;
      }
      li {
        padding: 0px;
        @include media-down(sm) {
          padding: 10px;
          text-align: center;
        }
        a {
          font-size: 16px;
          line-height: 24px;
          color: #2E3B4D;
          text-decoration: none;
          transition: $transition;
          text-align: center;
          &:hover {
            transition: $transition;
            color: #3e74e7;
          }
        }
      }
    }
    .f-images {
      display: flex;
      width: 176px;
      justify-content: space-between;
      @include media-down(ct) {
        width: 100%;
        justify-content: center;
      }
      .iso {
        background: url(../images/f-iso.png) center center no-repeat;
        width: 72px;
        height: 72px;
        background-size: contain;
        @include media-down(ct) {
          width: 92px;
          height: 92px;
          margin-right: 16px;
        }
      }
      .soc {
        background: url(../images/f-soc.png) center center no-repeat;
        width: 72px;
        height: 72px;
        background-size: contain;
        @include media-down(ct) {
          width: 92px;
          height: 92px;
        }
      }
    }
  }
  
  .f-copyright-line {
    padding: 32px 16px;
    .copyright-wrapper {
      margin: 0 auto;
    }
    .copyright {
      font-size: 16px;
      line-height: 24px;
      text-align: center;
      color: #2E3B4D;
      @include media-down(ct) {
        display: flex;
        flex-direction: column;
      }
      .all-rights-reserved {
        @include media-down(ct) {
          color: #8491A3;
        }
      }
      sup {
        font-size: unset;
        vertical-align: baseline;
      }
    }
  }
}