.how-it-works-2-block {
    padding: 80px 0;
    padding-bottom: 30px;
    background-color: #F5FAFF;
    width: 100vw;
    margin-left: -50vw;
    margin-right: -50vw;
    right: 50%;
    left: 50%;
    position: relative;
    @include media-down(ct) {
      padding-top: 92px;
      padding-bottom: 60px;
    }
    .h-description {
      font-weight: 700;
      font-size: 18px;
      line-height: 22px;
      color: #727E8E;
      margin-top: 40px;
      @include media-down(ct) {
        text-align: center;
        margin-top: 20px;
      }
    }
    .h-element {
      width: 266px;
      background: #FFFFFF;
      box-shadow: 0px 4px 30px rgba(132, 145, 163, 0.3);
      border-radius: 10px;
      padding-bottom: 24px;
      margin-bottom: 28px;
      @include media-down(ct) {
        margin-left: 5px;
        margin-right: 5px;
        margin-bottom: 20px;
      }
      .h-e-image-wrapper {
        position: relative;
        margin-bottom: 63px;
        .h-e-icon {
          position: absolute;
          left: calc(50% - 55px);
          bottom: -55px;
        }
      }
      .h-e-title {
        padding: 0px 18px; 
        font-weight: bold;
        font-size: 20px;
        line-height: 24px;
        color: #000000;
        text-align: center;
      }
      .h-e-description {
        padding: 0px 18px; 
        font-weight: bold;
        font-size: 18px;
        line-height: 22px;
        color: #727E8E;
        text-align: center;
        margin-top: 16px;
      }
    }
    
    .h-elements {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      @include media-down(ct) {
        justify-content: space-around;
      }
    }
    .h-main-element-wrapper {
      display: flex;
      justify-content: center;
      margin-top: 62px;
      position: relative;
      @include media-down(ct) {
        margin-top: 41px;
      }
      .h-arrow-1 {
        background: url('../images/how-arrow-1.png');
        width: 329px;
        height: 80px;
        position: absolute;
        top: 141px;
        left: 57px;
        @include media-down(ct) {
          display: none;
        }
      }

      .h-arrow-2 {
        background: url('../images/how-arrow-2.png');
        width: 322px;
        height: 87px;
        position: absolute;
        top: 141px;
        right: 54px;
        @include media-down(ct) {
          display: none;
        }
      }
      .h-element.h-main-element {
        .h-e-image-wrapper {
          margin-bottom: 51px;
        }
      }
    }
}

