.hr-managers-block {
  width: 100vw;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  position: relative;
  overflow: hidden;
  height: 677px;
  @include media-down(ct) {
    height: auto;
  }
  .slick-dotted.slick-slider {
    margin: 0px;
  }
  .hr-managers-slider {
    .hr-slide-content-wrapper {
      height: 677px;
      @include media-down(ct) {
        height: auto;
      }
      .content-area {
        position: relative;
        display: flex;
        align-items: center;
        height: 100%;
        @include media-down(ct) {
          flex-direction: column;
          padding-top: 80px;
        }
        .hr-slider-nav-container {
          @include media-down(ct) {
            display: none;
          }
        }
        &.right-side {
          justify-content: flex-end;
          .hr-photo {
            right: auto;
            left: 0px;
            max-height: 100%;
          }
        }
        .hr-slider-arrow {
          position: absolute;
          width: 50px;
          height: 50px;
          border: 2px solid #ffffff;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 100%;
          color: white;
          top: calc(50% - 25px);
          left: -100px;
          cursor: pointer;
          &.slider-next {
            right: -100px;
            left: auto;
            .i-svg {
              transform: rotate(270deg);
              margin: 0px;
              margin-left: 4px;
            }
          }
          .i-svg {
            color: white;
            width: 19px;
            height: 13px;
            transform: rotate(90deg);
            margin-right: 4px;
          }
        }
        .hr-text-part {
          color: rgba(255, 255, 255, 0.7);
          max-width: 445px;
          display: flex;
          flex-direction: column;
          @include media-down(ct) {
            max-width: 100%;
            align-items: center;
            margin-bottom: 30px;
            padding: 0 20px;
          }
          .hr-text {
            font-size: 18px;
            line-height: 22px;
            font-family: 'latosemibold';
            margin-top: 21px;
            @include media-down(ct) {
              font-size: 18px;
              line-height: 22px;
              margin-top: 28px;
              br {
                display: none;
              }
            }
          }
          .hr-name {
            font-weight: 900;
            font-size: 24px;
            line-height: 30px;
            margin-top: 6px;
            font-family: 'Merriweather', serif;
            @include media-down(ct) {
              text-align: center;
              margin-top: 40px;
            }
          }
          .hr-post {
            font-style: italic;
            font-weight: normal;
            font-size: 16px;
            line-height: 20px;
            margin-top: 6px;
            font-family: 'Merriweather', serif;
            @include media-down(ct) {
              text-align: center;
              margin-top: 4px;
              max-width: 240px;
            }
          }
          .hr-bullets {
            display: none;
            position: relative;
            margin-top: 32px;
            .slick-dots {
              display: flex;
              position: static;
              li {
                width: 10px;
                height: 10px;
                background-color: rgba(255,255,255,.7);
                border-radius: 100%;
                &.slick-active {
                  background-color: white;
                }
                button {
                  &:before {
                    display: none;
                  }
                }
              }
            }
            @include media-down(ct) {
              display: block;
            }
          }
          .btn {
            margin-top: 16px;
            align-self: baseline;
            min-width: 297px;
            @include media-down(ct) {
              align-self: auto;
              margin-top: 38px;
            }
            @include media-down(sm) {
              width: 100%;
            }
          }
        }
        .hr-photo {
          position: absolute;
          right: 0px;
          bottom: 0px;
          @include media-down(ct) {
            position: static;
            height: auto;
            max-width: 100%;
          }
        }
      }
    }
  }
}
