.join-team-block {
  width: 100vw;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  position: relative;
  background: #e3f5ff;
  height: 650px;
  @include media-down(ct) {
    height: auto;
    margin-bottom: 50px;
  }
  .content-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    position: relative;
    @include media-down(ct) {
      padding: 80px 40px;
      justify-content: center;
    }
    .jt-content {
      @include media-down(ct) {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      .jt-title {
        font-size: 34px;
        line-height: 41px;
        color: #282E37;
        font-family: 'latoheavy';
        margin: 0px;
        margin-bottom: 20px;
        padding: 0px;
        @include media-down(ct) {
          font-size: 40px;
          line-height: 48px;
          text-align: center;
          color: #000000;
          font-family: 'Lato', sans-serif;
        }
      }
      .btn {
        @include media-down(ct) {
          min-width: 218px;
        }
      }
    }
    .jt-image {
      width: 977px;
      height: 650px;
      background: url('../images/plane.png');
      position: absolute;
      right: -60px;
      top: 0px;
      @include media-down(ct) {
        display: none;
      }
    }
  }
}