.map-block {
  padding: 80px 0px;
  border-bottom: 1px solid #CAD3DE;
  @include media-down(ct) {
    padding: 60px 0px;
    border-bottom: 0px;
  }
  .map-title {
    @include media-down(ct) {
      padding: 0 20px;
      box-sizing: border-box;
    }
    .line-title {
      @include media-down(sm) {
        max-width: 320px;
        margin: 0 auto;
      }
    }
  }
  #map-popup {
    display: none;
  }
  #map {
    height: 500px;
    width: 100%;
    margin-top: 40px;
    #map-popup {
      display: block;
    }
    .popup-bubble {
      /* Position the bubble centred-above its parent. */
      position: absolute;
      top: 0;
      left: 0;
      transform: translate(-50%, -100%);
      /* Style the bubble. */
      background-color: white;
      padding: 15px;
      padding-bottom: 40px;
      padding-top: 70px;
      border-radius: 10px;
      box-shadow: 0px 6px 30px rgba(132, 145, 163, 0.3);
    }
    /* The parent of the bubble. A zero-height div at the top of the tip. */
    .popup-bubble-anchor {
      /* Position the div a fixed distance above the tip. */
      position: absolute;
      width: 100%;
      bottom: 0px;
      left: 0;
    }
    /* JavaScript will position this div at the bottom of the popup tip. */
    .popup-container {
      cursor: auto;
      height: 0;
      position: absolute;
      /* The max width of the info window. */
      width: 212px;
    }

    .p-logo {
      @include sprite($i-petrosoft-logo);
      position: absolute;
      top: -40px;
      left: calc(50% - 40px);
    }
    .p-address {
      font-weight: bold;
      font-size: 18px;
      line-height: 22px;
      text-align: center;
      color: #727E8E;
    }
    .p-phone {
      font-weight: bold;
      font-size: 18px;
      line-height: 22px;
      text-align: center;
      text-transform: capitalize;
      color: #3E74E7;
      margin-top: 10px;
    }
    .triangle-wrapper {
      bottom: -10px;
      left: calc(50% - 11px);
      position: absolute;
      width: 22px;
      height: 10px;
      overflow: hidden;
      .triangle {
        width: 26px;
        height: 26px;
        background-color: white;
        border-radius: 3px;
        transform: rotate(45deg);
        position: absolute;
        top: -20px;
        left: calc(50% - 13px);
      }
    }
  }
}
