.our-mission-block {
  width: 100vw;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  position: relative;
  background-color: #eef4fa;
  padding: 70px 0px;
  box-sizing: border-box;
  @include media-down(ct) {
    padding: 55px 0px;
    padding-top: 60px;
  }
  .content-area {
    @include media-down(ct) {
      padding: 0 23px;
    }
  }
  .m-description {
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: #727E8E;
    margin-top: 35px;
    @include media-down(ct) {
      text-align: center;
    }
    @include media-down(sm) {
      margin: 0 auto;
      margin-top: 30px;
    }
  }
  .our-mission-map {
    margin-top: 60px;
    display: none;
    @include media-down(sm) {
      margin-top: 40px;
    }
    img {
      width: 100%;
      height: auto;
    }
  }
}
