.our-team-block {
  padding: 80px 0px;
  @include media-down(sm) {
    padding: 60px 15px;
    padding-bottom: 90px;
  }
  .our-team {
    display: flex;
    flex-wrap: wrap;
    @include media-down(ct) {
      justify-content: space-between;
    }
    .person {
      width: 360px;
      margin-right: 30px;
      margin-top: 50px;
      display: flex;
      align-items: center;
      flex-direction: column;
      &:nth-child(3n+3) { 
        margin-right: 0px;
      }
      @include media-down(ct) {
        width: 50%;
        margin-right: 0px;
      }
      @include media-down(sm) {
        width: 100%;
        margin-top: 35px;
      }
      .p-image {
        img {
          border-radius: 100%;
          display: block;
          border: 7px solid white;
          box-shadow: 0px 4px 15px rgba(114, 126, 142, 0.2);
          width: auto;
          @include media-down(sm) {
            width: 165px;
            height: 165px;
          }
        }
      }
      .p-content {
        .p-name {
          font-family: 'latoheavy';
          font-size: 34px;
          line-height: 41px;
          text-align: center;
          color: #000000;
          text-align: center;
          margin-top: 5px;
        }
        .p-post {
          font-size: 18px;
          line-height: 22px;
          text-align: center;
          color: #000000;
          text-align: center;
          margin-top: 5px;
        }
        .p-description {
          font-size: 18px;
          line-height: 22px;
          text-align: center;
          color: #727E8E;
          text-align: center;
          margin-top: 15px;
          @include media-down(ct) {
            max-width: 360px;
            margin-top: 12px;
          }
        }
      }
    }
  }
}
