.product-features-v2-block {
  padding: 80px 0px;
  background-color: #F5FAFF;
  width: 100vw;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  position: relative;
  @include media-down(sm) {
    border-bottom: 0px;
    padding-bottom: 20px;
  }
  .content-area {
    @include media-down(sm) {
      padding: 0px;
    }
  }
  .pf-header {
    @include media-down(sm) {
      padding: 0 20px;
    }
  }
  .pf-description {
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: #727E8E;
    margin-top: 40px;
    @include media-down(ct) {
      text-align: center;
    }
    @include media-down(sm) {
      margin-top: 21px;
    }
  }
  .p-features-list {
    display: flex;
    margin-top: 37px;
    flex-wrap: wrap;
    @include media-down(ct) {
      flex-wrap: wrap;
      justify-content: space-around;
    }
    @include media-down(sm) {
      flex-direction: column;
      align-items: center;
      margin-top: 15px;
    }
    .feature-wrapper {
      margin-right: 20px;
      margin-bottom: 20px;
      display: flex;
      @include media-down(ct) {
        margin: 0 5px;
        margin-bottom: 20px;
        &:nth-child(5n+5) {
         margin: 0 5px;
         margin-bottom: 20px;
        }
      }
      @include media-down(sm) {
        width: 100%;
        max-width: 100%;
        margin: 0px;
        &:nth-child(5n+5) {
          margin: 0px;
        }
        &:last-child {
          @include media-down(sm) {
            .feature {
              border-bottom: 0px;
            }
          }
        }
      }
      &:nth-child(5n+5) {
        margin-right: 0px;
      }
      .feature {
        width: 212px;
        min-height: 212px;
        border-radius: 10px;
        background-color: #ffffff;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        transition: $transition;
        padding: 24px 15px;
        padding-bottom: 40px;
        box-sizing: border-box;
        box-shadow: 0 4px 25px rgba(132, 145, 163, 0.15);
        justify-content: space-between;
        cursor: pointer;
        @include media-down(sm) {
          width: 100%;
          border-bottom: 1px solid #CAD3DE;
          box-shadow: none;
          padding: 0px 40px;
          padding-bottom: 55px;
          padding-top: 30px;
          background: none;
          border-radius: 0px;
          min-height: 0px; 
          &:hover {
            box-shadow: none;
          }
        }
        &:hover {
          transition: $transition;
        }
        .f-title {
          font-weight: bold;
          font-size: 20px;
          line-height: 24px;
          text-align: center;
          text-transform: capitalize;
          color: #000000;
          margin-top: 8px;
          @include media-down(sm) {
            max-width: 325px;
            margin-top: 12px;
          }
        }
        .f-description {
          font-weight: bold;
          font-size: 18px;
          line-height: 22px;
          text-align: center;
          color: #727E8E;
          margin-top: 8px;
          @include media-down(sm) {
            max-width: 325px;
            margin-top: 18px;
          }
        }
      }
    }
  }
}

