.products-grid-block {
  background-color: #F5FAFF;
  width: 100vw;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  padding-top: 45px;
  padding-bottom: 40px;
  position: relative;
  .line-title {
    @include media-down(ct) {
      padding: 0px 16px;
    }
  }
  .content-area {
    @include media-down(ct) {
      padding: 0px;
    }
  }
  .products-grid {
    .wpb_column {
      margin-top: 60px;
      @include media-down(ct) {
        margin-top: 40px;
      }
    }
    .product {
      text-decoration: none;
      .p-logo-wrapper {
        min-height: 48px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: baseline;
      }
      .p-logo {
        max-width: 100%;
        display: block;
      }
      .p-title {
        font-weight: bold;
        font-size: 16px;
        line-height: 20px;
        color: #282E37;
        text-decoration: none;
        margin-top: 24px;
      }
      .p-description {
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        color: #282E37;
        text-decoration: none;
        margin-top: 10px;
      }
      .p-more-link {
        font-weight: bold;
        font-size: 16px;
        line-height: 24px;
        color: #2C5DE5;
        display: flex;
        align-items: center;
        text-decoration: none;
        margin-top: 8px;
        position: relative;
        transition: $transition;
        padding-right: 8px;
        align-self: flex-end;
        width: 100%;
        text-decoration: none;
        &:hover {
          transition: $transition;
          font-size: 17px;
        }
        position: relative;
        .i-svg {
          width: 10px;
          height: 6px;
          margin-top: 3px;
          margin-left: 6px;   
          transform: rotate(-90deg);
        }
      }
    }
  }
}

