.resource-banner {
  text-decoration: none;
  display: block;
  padding: 32px 24px;
  border-radius: 8px;
  &:hover {
    text-decoration: none;
  }
  p:first-child {
    display: none;
  }
  p:nth-child(2) {
    margin-top: 0px;
  }
  .btn {
    width: 100%;
    min-width: 0px;
  }
}

