.solution-header-block {
  margin-top: 78px;
  margin-bottom: 70px;
  @include media-down(ct) {
    padding: 0 40px;
    margin-bottom: 60px;
  }
  .sh-solutions {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    @include media-down(ct) {
      display: block;
      width: 100vw;
      left: 50%;
      right: 50%;
      margin-left: -50vw;
      margin-right: -50vw;
      position: relative;
      margin-top: 0px;
    }
    .sh-solution-wrapper {
      margin-left: 20px;
      display: flex;
      position: relative;
      @include media-down(ct) {
        margin-left: 0px;
        display: block;
        width: 100%;
        box-shadow: none !important;
        padding: 0 40px;
        position: relative;
        box-sizing: border-box;
        border-bottom: 1px solid #CAD3DE;
        margin-bottom: 15px;
      }
      &:first-child {
        margin-left: 0px;
      }
      .sh-solution {
        background: #FFFFFF;
        box-shadow: 0px 4px 30px rgba(132, 145, 163, 0.3);
        border-radius: 10px;
        width: 212px;
        padding: 0 12px;
        padding-top: 22px;
        padding-bottom: 44px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        min-height: 326px;
        box-sizing: border-box;
        transition: $transition;
        @include media-down(ct) {
          width: 100%;
          box-shadow: none !important;
          min-height: 0px;
          padding: 0px;
          padding-top: 30px;
          padding-bottom: 54px;
        }
        &:hover {
          transition: $transition;
          cursor: pointer;
        }
        .sh-title {
          font-weight: bold;
          font-size: 20px;
          line-height: 24px;
          color: #000000;
          text-align: center;
          max-width: 164px;
          @include media-down(ct) {
            max-width: 100%;
            margin-top: 10px;
          }
        }
        .sh-description {
          font-weight: 600;
          font-size: 18px;
          line-height: 22px;
          text-align: center;
          color: #727E8E;
          font-family: 'latosemibold';
          min-height: 90px;
          @include media-down(ct) {
            margin-top: 15px;
            min-height: 0px;
          }
        }
      }
      .sh-chain {
        width: 50px;
        height: 50px;
        box-shadow: 0 4px 15px rgba(77, 87, 98, 0.15);
        background-color: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 100%;
        position: absolute;
        left: -35px;
        top: calc(50% - 25px);
        .i-svg {
          width: 25px;
          height: 13px;
          color: #3e74e7;
        }
        @include media-down(ct) {
          min-width: 50px;
          min-height: 50px;
          position: absolute;
          top: -40px;
          left: calc(50% - 25px);
        }
      }
    }
  }
}

.solution-list-block {
  .solution {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    border-top: 1px solid #cad3de;
    margin-bottom: 80px;
    min-height: 500px;
    align-items: center;
    @include media-down(ct) {
      flex-direction: column;
      padding: 0 40px;
      box-sizing: border-box;
      border-top: 0px;
      border-bottom: 1px solid #cad3de;
      margin-bottom: 60px;
    }
    &:nth-child(2n+2) {
      .s-content {
        order: 2;
      }
    }
    .s-mobile-title {
      display: none;
      @include media-down(ct) {
        display: flex;
        br {
          display: none;
        }
      }
    }
    
    .s-image {
      position: relative;
      @include media-down(ct) {
        margin-top: 40px;
      }
      .s-icon {
        position: absolute;
        bottom: -40px;
        right: 15px;
        @include media-down(ct) {
          display: none;
        }
      }
      img {
        display: block;
        @include media-down(ct) {
          width: 100%;
          height: auto;
        }
      }
    }
    .s-content {
      width: 540px;
      @include media-down(ct) {
        width: 100%;
        order: 2;
        padding-bottom: 50px;
      }
    }
    .s-title {
      @include media-down(ct) {
        display: none;
      }
    }
    .s-description {
      font-size: 18px;
      font-weight: 600;
      color: #727E8E;
      margin-top: 30px;
      margin-bottom: 10px;
    }
    
    .s-features {
      .s-feature {
        display: flex;
        align-items: center;
        font-size: 18px;
        line-height: 22px;
        margin-top: 15px;
        .i-svg {
          width: 17px;
          height: 14px;
          color: $dark_blue;
          margin-right: 17px;
        }
        &.blue {
          .i-svg {
            color: $blue;
          }
        }
        &.red {
          .i-svg {
            color: $red;
          }
        }
        &.lilac {
          .i-svg {
            color: $lilac;
          }
        }
        &.green {
          .i-svg {
            color: $green;
          }
        }
        &.orange {
          .i-svg {
            color: $orange;
          }
        }
      }
    }
    .btn {
      margin-top: 30px;
      @include media-down(sm) {
        width: 100%;
      }
    }
  }
}

