.video-element {
  border-radius: 4px;
  overflow: hidden;
  height: 100%;
  .v-video-wrapper {
    position: relative;
    overflow: hidden;
    background-color: white;
    video {
       display: block;
    }
    .v-video-overlay {
      position: absolute;
      background-color: white;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      background-size: cover;
      z-index: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      .v-overlay-color {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background: #405380;
        mix-blend-mode: multiply;
        opacity: 0.5;
        z-index: 2;
      }
      .v-video-play {
        position: relative;
        z-index: 3;
        width: 56px;
        height: 56px;
        background-color: #3E74E7;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: scale(1);
        transition: $transition;
        &:hover {
          transform: scale(1.1);
          transition: $transition;
        }
        .i-svg {
          color: white;
          width: 16px;
          height: 18px;
          margin-left: 3px;
        }
      }
    }
  }
  .v-content {
    padding: 24px;
    padding-bottom: 32px;
    padding-top: 16px;
    background-color: #F7F8FA;
    height: 100%;
    box-sizing: border-box;
    .v-type {
      font-weight: bold;
      font-size: 12px;
      line-height: 16px;
      color: #8491A3;
      text-transform: uppercase;
      margin-bottom: 8px;
    }
    .v-title {
      font-weight: bold;
      font-size: 24px;
      line-height: 32px;
      color: #212B36;
      margin-bottom: 8px;
    }
    .v-description {
      font-size: 16px;
      line-height: 24px;
      color: #2E3B4D;
    }
  }
}
