.video-modal-content {
  display: flex;
  justify-content: space-between;
  @include media-down(ct) {
    flex-direction: column;
  }
  .m-video-wrapper {
    max-width: 542px;
    width: 100%;
    @include media-down(ct) {
      max-width: 100%;
    }
    .btn {
      margin-top: 25px;
      @include media-down(ct) {
        width: 100%;
      }
    }
  }
  .m-data-container {
    width: 100%;
    max-width: 300px;
    @include media-down(ct) {
      margin-top: 25px;
      max-width: 100%;
    }
    .m-title {
      font-size: 20px;
      line-height: 24px;
      text-transform: uppercase;
      color: #000000;
      font-family: 'latoheavy';
      @include media-down(ct) {
        text-align: center;
      }
    }
    .m-description {
      font-size: 18px;
      line-height: 22px;
      color: #727E8E;
      margin-top: 12px;
    }
    .m-person {
      font-size: 18px;
      line-height: 22px;
      margin-top: 7px;
      color: #000000;
    }
  }
}

