.watch-video-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 100px 0px;
  border-bottom: 1px solid #cad3de;
  @include media-down(ct) {
    flex-direction: column;
    padding: 47px 20px;
    height: auto;
    padding-top: 64px;
  }
  .w-image-wrapper {
    position: relative;
    box-shadow: 0px 6px 30px rgba(77, 87, 98, 0.35);
    border-radius: 10px;
    @include media-down(ct) {
      order: 2;
      display: block;
      max-width: 100%;
      height: auto;
      margin-top: 50px;
    }
    .w-play-icon-wrapper {
      position: absolute;
      width: 80px;
      height: 80px;
      left: calc(50% - 40px);
      top: calc(50% - 40px);
      background: 3E74E7;
      display: flex;
      justify-content: center;
      align-items: center;
      background: rgba(46, 116, 231, 0.8);
      border-radius: 100%;
      transition: all .4s ease;
      transform: scale(1.0);
      .i-svg {
        width: 21px;
        height: 28px;
        color: white;
        margin-left: 3px;
      }
    }
    &:hover  {
      .w-play-icon-wrapper {
        transition: all .4s ease;
        transform: scale(1.2);
      }
    }
    .w-image {
      width: 100%;
      height: auto;
      display: block;
    }
  }
  .w-content {
    max-width: 435px;
    margin-right: 101px;
    @include media-down(ct) {
      max-width: 100%;
      padding: 0 20px;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-right: 0px;
    }
    .w-title {
      font-size: 48px;
      line-height: 58px;
      color: #282E37;
      font-weight: normal;
      margin: 0px;
      padding: 0px;
      @include media-down(ct) {
        text-align: center;
        font-size: 38px;
        line-height: 46px;
        padding: 0 10px;
      }
    }
    .w-description {
      font-size: 18px;
      line-height: 22px;
      color: #727E8E;
      margin-top: 15px;
      @include media-down(ct) {
        text-align: center;
        margin-top: 20px;
      }
    }
    .w-btn-wrapper {
      margin-top: 23px;
      @include media-down(sm) {
        margin-top: 28px;
        width: 100%;
      }
      .btn {
        min-width: 298px;
        margin-top: 10px;
        &:first-child {
          margin-top: 0px;
        }
        @include media-down(sm) {
          width: 100%;
          min-width: 0px;
        }
      }
    }
  }
}