.wpcf7 {
  input {
    box-sizing: border-box;
  }
  input[type="text"], input[type="email"], input[type="tel"], input[type="search"], textarea  {
    border-radius: 6px;
    height: 54px;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 20px;
    padding: 0 20px;
    width: 100%;
    border: 0px;
    -webkit-appearance: none;
  }
  textarea {
    box-sizing: border-box;
    min-height: 120px;
    padding: 20px;
  }
  .selectric-wpcf7-select {
    margin-bottom: 20px;
    .selectric {
      .label {
        height: 54px;
        font-size: 18px;
        line-height: 22px;
        color: #000000;
        align-items: center;
        display: flex;
        box-sizing: border-box;
      }
    }
  }
  span {
    &.wpcf7-not-valid-tip {
      background: #FEEEEF;
      font-style: italic;
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      display: flex;
      align-items: center;
      color: #727E8E;
      padding: 10px;
      border: 1px solid #ff0000;
    }
  }
  .wpcf7-response-output {
    background: #FFF5E1;
    padding: 10px;
    font-size: 16px;
    line-height: 19px;
    color: #727E8E;
    margin: 0px;
    margin-top: 30px;
    &.wpcf7-mail-sent-ok {
      background-color: #E0FDF6;
    }
    &.wpcf7-validation-errors {
      background-color: #feeeef;
      border: 1px solid #ff0000;
    }
  }
  .ajax-loader {
    display: none !important;
  }
  .custom-file-upload {
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: #3E74E7;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 10px;
    br {
      display: none;
    }
    &+br {
      display: none;
    }
    .icon-arrow-1 {
      width: 13px;
      height: 8px;
      margin-top: 0px;
      margin-left: 7px;     
      margin-right: 7px; 
      transform: rotate(-90deg);
      top: -2px;
      position: relative;
    }
    .icon-upload {
      width: 40px;
      height: 29px;
      margin-right: 16px;
    }
    .file-label-text {
      width: calc(100% - 56px);
      position: relative;
    }
  }
  .wpcf7-file {
    display: none;
  }
  .btn {
    border: 0;
    cursor: pointer;
  }
  
  .cf7-with-result {
    .cf7-form-result {
      display: none;
      .img_wrapper{
        margin-top:20px;
        @include media-down(ct) {
          display: flex;
          flex-direction: column;
        }
      }
      .img_block{width: 208px;margin: 0 auto 20px auto;display: inline-block;vertical-align: top;color: #000;margin-top: 10px;}
      .img_block img {max-width: 65px!important;}
       p {margin-top: 20px;font-size: 18px;line-height: 22px;color: #000;width: 100%;}
    }
  }
  
  .wpcf7-form.sent {
    .cf7-with-result {
      .cf7-form-fields {
        display: none;
      }
      .cf7-form-result {
        display: block;
      }
      & ~ .wpcf7-response-output {
        display: none !important;
      }
    }
  }
  
  .cf7-form-fields {
    input[type="text"], input[type="email"], input[type="tel"], input[type="search"], textarea  {
      border: 1px solid #CAD3DE;
      margin-bottom: 0px;
      margin-top: 20px;
    }
    .selectric-wpcf7-select {
      margin-bottom: 0px;
      margin-top: 20px;
      .selectric .label {
        color: #727E8E;
      }
    }
    .agree {
      margin-top: 20px;
      .wpcf7-list-item {
        margin: 0px;
      }
    }
    p {
      margin-bottom: 0px;
    }
    span.wpcf7-not-valid-tip {
      margin-top: 10px;
    }
    .btn {
      margin-top: 20px;
      @include media-down(sm)  {
        width: 100%;
      }
    }
    .center-btn {
      display: flex;
      justify-content: center;
    }
    .cf7-two-columns {
      display: flex;
      flex-wrap: wrap;
      .wpcf7-form-control-wrap {
        margin-right: 10px;
        width: calc(50% - 5px);
        @include media-down(sm) {
          width: 100%;
          margin-right: 0px;
        }
        &:nth-child(2n) {
          margin-right: 0px;
        }
      }
    }
  }
}

