form.crm-entity-lead {
  margin-top: 20px;
  max-width: 580px;

  fieldset {
    border: none;
  }

  .form-group {
    display: inline-block;
    vertical-align: top;
    width: 49%;

    &:last-child {
      display: block;
    }
  }

  input {
    &[type=text], &[type=email], &[type=tel] {
      display: block;
      background: #FFFFFF;
      border: 1px solid #CAD3DE;
      box-sizing: border-box;
      border-radius: 6px;
      padding: 17px 10px;
      margin-bottom: 20px;
      width: 100%;
      font-size: 14px;
      color: #727e8e;
      font-family: Lato,sans-serif;
      display: inline-block;
      vertical-align: top;
    }
  }

  select {
    display: block;
    background: #FFFFFF;
    border: 1px solid #CAD3DE;
    box-sizing: border-box;
    border-radius: 6px;
    padding: 17px 10px;
    margin-bottom: 20px;
    width: 100%;
    display: inline-block;
    vertical-align: top;
    width: calc(50% - 16px);
  }

  input[type=submit] {
    width: 100%;
    cursor: pointer;
    border: none;
    font-family: Lato,sans-serif;
  }

  .selectric-wrapper {
    padding-bottom: 20px;
  }
}

formv .selectric-wrapper .selectric {
  padding: 5px 0;
}

form.crm-entity-lead {
  .selectric-petrosoft-select .selectric-items li:after {
    display: none !important;
  }

  input[type=submit] {
    max-width: fit-content !important;
    margin-left: calc(100% - 115px) !important;
    font-weight: 700;
    display: block;
    margin-top: 20px;
    background-color: #3e74e7;
  }

  .selectric-petrosoft-select .selectric .label {
    text-transform: none !important;
  }

  input {
    max-width: calc(100% - 16px);
    display: inline-block;
    vertical-align: top;

    &:nth-child(odd) {
      margin-right: 16px;
    }
  }

  .selectric-petrosoft-select {
    width: calc(50% - 16px);
    display: inline-block;
    vertical-align: top;

    &:nth-child(odd) {
      margin-right: 16px;
    }
  }

  textarea {
    background: #FFFFFF;
    border: 1px solid #CAD3DE;
    box-sizing: border-box;
    border-radius: 6px;
    padding: 17px 10px;
    margin-bottom: 20px;
    width: 100%;
    font-size: 14px;
    color: #727e8e;
    font-family: Lato,sans-serif;
    display: inline-block;
    vertical-align: top;
    resize: none;
    height: 120px;
    max-width: calc(100% - 16px);
  }

  span.agree {
    display: block;
    font-size: 18px;
    color: #fff;

    input {
      margin: 6px 6px 6px 0px;
    }
  }

  input[type=submit]:hover {
    background: #1752d0 !important;
  }

  .form-group {
    .col-sm-8 {
      position: relative;

      .help-block {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 100%;
        text-align: right;
        font-size: 16px;
        color: #f00;
        padding-right: 16px;
      }
    }

    .has-danger input {
      border: 1px solid #f00;
    }
  }
}

@media (max-width: 576px) {
  form.crm-entity-lead {
    input {
      max-width: 100% !important;
      margin-right: 0px !important;
    }

    .selectric-petrosoft-select {
      width: 100% !important;
      margin-right: 0px !important;
    }
  }
}